<section class="cards">
    <div class="container hideme">

        {% for categoryCard in categories %}

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 no-pad">
                <div class="card-flip variety-acts">
                    <div class="flipper">
                        <div class="front" style="background: url('{{ categoryCard.background }}') center no-repeat;">
                            <div class="panel-text">
                                <p class="title">{{ categoryCard.title }}</p>

                            </div>
                        </div>
                        <div class="back">
                            <div class="panel-text controls">
                                <p class="title">{{ categoryCard.title }}</p>
                                <p class="text">
                                    {{ categoryCard.description }}
                                </p>

                                <div class="button-gradient filled follow">
                                    <button class="btn"><a href="search/{{ categoryCard.slug }}">See more</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</section>