<!--<form id="categoriesForm">
{% for category in categories %}

    <div data-toggle-desktop="category-2" class="col-sm-6 col-xs-12 no-pad category">
        <div class="category-header gradient-light">
            <div class="image-container">
                <img src="/{{ category.image }}" alt="">
            </div>
            <span class="title">{{ category['title'] }}</span>
        </div>
        <div class="category-body">

                <div class="row category-content artistCategories">
                    {% for catChild in category['__children'] %}
                    <div class="col-xs-6 category-item">
                        <input class="checkbox" type="checkbox" id="variety_category_id_{{ catChild['id'] }}" name="categories[]" value="{{ catChild['id'] }}">
                        <label for="variety_category_id_{{ catChild['id'] }}">{{ catChild['title'] }}</label>
                    </div>
                    {% endfor %}
                    <button class="show-more">
                        Other &#187;
                    </button>
                </div>

        </div>
    </div>
    {% if  loop.index % 2 == 0 %}
        <div class="row"></div>
    {% endif %}
{% endfor %}
</form>-->

<form id="categoriesForm">

    <div class="col-sm-12 col-xs-12 no-pad category text-center">
        <ul class="tab-list" role="tablist">
            {% for category in categories %}
                {% if  loop.first %}
                    <li role="presentation" class="active">
                    {% else %}
                    <li role="presentation">
                {% endif %}
                <a href="#tabCatsl{{ category.slug }}" aria-controls="musicians" role="tab" data-toggle="tab">
                    <figure>
                        <div class="img-box">
                            <img src="/{{ category.image }}" alt="Musicians & DJs" data-rjs="3">
                        </div>
                        <figcaption>
                            <h3>{{ category['title'] }}</h3>
                        </figcaption>
                    </figure>
                </a>
            </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for category in categories %}
            {% if  loop.first %}
                <div role="tabpanel" class="tab-pane fade in active" id="tabCatsl{{ category.slug }}">
                {% else %}
                <div role="tabpanel" class="tab-pane fade" id="tabCatsl{{ category.slug }}">
            {% endif %}
                <ul class="categories-list">
                    <li>
                        <ul>
                            {% for catChild in category['__children'] %}
                            <li>
                                <input class="checkbox" type="checkbox" id="variety_category_id_{{ catChild['id'] }}" name="categories[]" value="{{ catChild['id'] }}">
                                <label for="variety_category_id_{{ catChild['id'] }}">{{ catChild['title'] }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</form>
