<div class="modal free-quote-modal modal-registered fade" id="freeQuoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true"></span></button>
                <h4 class="modal-title eventUnregistered">
                    <div class="warn">!</div>
                    Tip: Enter your event details below and it will automatically apply to your next quote requests
                </h4>
                <form id="chosenEvent">
                    <h4 class="modal-title eventChooseRequest">
                        <span class="title">Event:</span>
                        <select data-class="selections-white selection-borderless" name="event" id="event_preset">
                        </select>
                        <a href="#" id="new-event" class="new-event">New event</a>
                    </h4>
                </form>
            </div>
            <form id="requestQuoteForm">
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-lg-8 form-group">
                            <label for="event_name">Name your event</label>
                            <input type="text" class="form-control" id="event_name" placeholder="Name your event" name="name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label for="event_date">Date</label>
                            <input type="text" class="date-picker form-control" id="event_date" name="event_date">
                        </div>

                        <div class="col-lg-offset-1 col-lg-4 form-group">
                            <label for="event_country">Country</label>
                            <select class="form-control" id="event_country" name="country">
                                <option value="0" selected>United Kingdom</option>
                                <option value="1">Germany</option>
                                <option value="2">France</option>
                            </select>

                            {#<select data-class="selections-white" name="country" id="event_country">#}
                                {#{% for country in countries() %}#}
                                    {#{% if country.name == 'United Kingdom' %}#}
                                        {#<option value="{{ country.id }}" name="country" selected="selected">{{ country.name }}</option>#}
                                    {#{% else %}#}
                                        {#<option value="{{ country.id }}" name="country">{{ country.name }}</option>#}
                                    {#{% endif %}#}
                                {#{% endfor %}#}
                            {#</select>#}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label for="event_time">Time</label>
                            <input type="text" class="form-control" id="event_time" placeholder="Evening" name="event_time">
                        </div>

                        <div class="col-lg-offset-1 col-lg-4 form-group">
                            <label for="event_city">City</label>
                            <input class="form-control" type="text" name="city" id="event_city"/>

                            {#<select name="city" id="event_city">#}
                            {#</select>#}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <label class="col-xs-12 no-pad" for="event_type">Event type</label>
                            <select data-class="selections-white" name="type" id="event_type">
                            </select>
                        </div>

                        <div class="col-lg-offset-1 col-lg-4 form-group">
                            <label for="event_location">Location</label>
                            <input type="text" class="form-control" id="event_location" placeholder="Event location" name="location">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 form-group">
                            <label class="col-xs-12 no-pad" for="venue_type">Venue type</label>
                            <select data-class="selections-white" name="venue_type" id="venue_type">
                            </select>
                        </div>

                        <div class="row col-lg-12 guests-num form-group">
                            <label class="col-xs-12 no-pad ">Number of guests</label>

                            <div class="custom-checkbox">
                                <input id="count_1" name="number_of_guests" type="radio" value="less_then_50">
                                <label for="count_1">Less than 50</label>
                            </div>
                            <div class="custom-checkbox">
                                <input id="count_2" name="number_of_guests" type="radio" value="50-100">
                                <label for="count_2">50-100</label>
                            </div>
                            <div class="custom-checkbox">
                                <input id="count_3" name="number_of_guests" type="radio" value="100-500">
                                <label for="count_3">100-500</label>
                            </div>
                            <div class="custom-checkbox">
                                <input id="count_4" name="number_of_guests" type="radio" value="500+">
                                <label for="count_4">500+</label>
                            </div>
                            <span class="errorCat"></span>
                        </div>

                        <div class="map-holder pull-right">
                            <div class="map" id="map"></div>
                            {#<em class="note">Pin your location on the map</em>#}
                        </div>
                    </div>
                </div>
            </form>
            <form id="quoteRequestSecond">
                <div class="modal-footer">
                    <div class="col-lg-12">
                        <div class="col-lg-12 no-pad quoteRequestArtistData">
                            <img class="quote-profile-avatar avatar" src="" alt="avatar"/>

                            <div class="quote-profile-info">
                                <h2></h2>
                                <p></p>
                            </div>
                        </div>

                        <ul class="profile-categories requestQuotePerformances ul-reset">
                        </ul>
                        <span class="errorCat"></span>

                        <div class="row add-comment-btn">
                            <a href="#" id="comment_toggle">Add a comment</a>
                        </div>

                        <div class="col-lg-12 no-pad" id="comment_area" style="display: none;">
                            <textarea name="comment" class="quote-profile-desc" placeholder="Write a message to the Artist if you have any question about his performance or if you want to provide with more details about your event"></textarea>
                        </div>

                        <div class="controls">
                            <div class="button-gradient filled">
                                <button class="btn" id="quoteRequsetSend">Send</button>
                            </div>
                        </div>

                        <div class="quote-box alreadyHasEventArtist">
                            <p>Quote request already sent. If you want to see the status or contact<br>the artist, you can access your
                                <a href="#">chatroom</a>
                            </p>
                            <p>You can also ask a quote for <a id="new-event">new event</a></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="modal registration-modal fade" id="offerSuccess">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="final-stage">
                    <div class="col-xs-12">
                        <img class="final-image" src="{{ asset('assets/images/congratulations.png') }}" alt="">
                    </div>
                    <div class="row">
                        <h2>Your offer created</h2>

                        <p class="description">

                        </p>
                        <p class="description">
                            And if you need any help, please do not hesitate to use the FAQ
                        </p>

                        <div class="controls">
                            <div class="button-gradient filled">
                                <button data-dismiss="modal" class="btn">Have a nice journey on ACTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal registration-modal fade" id="offerErrorModal">
    <div class="modal-dialog" role="document">
        <div class="modal-body">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="final-stage">
                    <div class="row">
                        <h2>Artist cannot create offer</h2>

                        <p class="description">

                        </p>
                        <p class="description">
                            And if you need any help, please do not hesitate to use the FAQ
                        </p>

                        <div class="controls">
                            <div class="button-gradient filled">
                                <button data-dismiss="modal" class="btn">Have a nice journey on ACTED</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>