{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}

<div class="search header-background">
    <div class="video" id="videoBackgroundPlayer">

    </div>
    <div class="background-panel"></div>

    <div class="header-block">
        <h2>Find Your Entertainer</h2>

        <div class="form-group">

            <div class="wrapper">
                <form id="searchLoc">
                <input type="text" placeholder="Search any entertainers">
                <div class="divider"></div>

                <select data-class="selections-white" name="country" id="search-country">
                    {% for country in countries() %}
                        <option value="{{ country.id }}" name="country">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <div class="divider"></div>
                <select  data-class="selections-white" name="region" id="search-region">
                    <!--<option>Oxford</option>
                    <option>Reading</option>
                    <option>Brighton</option>-->
                </select>
                </form>
            </div>

            <button class="btn"><i class="fa fa-search"></i><span>Search</span></button>
        </div>
    </div>
</div>

<main class="search">
    <section class="filters container no-pad">
        <div class="block">
            <h2>Where is your event located?</h2>
            <form id="eventLocationForm">
            <select name="country" id="country">
                {% for country in countries() %}
                    <option value="{{ country.id }}" name="user_country">{{ country.name }}</option>
                {% endfor %}
            </select>

            <select name="region" id="region">
            </select>
            </form>
        </div>

        <div class="block">
            <h2>Categories</h2>
            <div id="searchCategories">
            <ul class="categories-menu">
                {% for category in categories %}

                    {% if loop.first %}
                        <li class="menu-block"><a data-toggle="#{{ category['id'] }}" class="active">{{ category['title'] }}</a></li>
                    {% else %}
                        <li class="menu-block"><a data-toggle="#{{ category['id'] }}">{{ category['title'] }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
                <form id="searchCategory">
            <!--Variety acts categories checkboxes-->
            {% for category in categories %}
            {% if loop.first %}
                <div class="categories-block open" id="{{ category['id'] }}">
                    <ul class="ul-reset categories">
                        {% for catChild in category['__children'] %}
                        <li>
                            <div class="custom-checkbox">
                                <input id="search{{ catChild['id'] }}" type="checkbox" name="categories[]" value="{{ catChild['id'] }}">
                                <label for="search{{ catChild['id'] }}">{{ catChild['title'] }}</label>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="categories-block" id="{{ category['id'] }}">
                    <ul class="ul-reset categories">
                        {% for catChild in category['__children'] %}
                            <li>
                                <div class="custom-checkbox">
                                    <input id="search{{ catChild['id'] }}" type="checkbox" name="categories[]" value="{{ catChild['id'] }}">
                                    <label for="search{{ catChild['id'] }}">{{ catChild['title'] }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% endfor %}
                </form>
            </div>


        <div class="block location">
            <h2>Artist location</h2>
            <form id="artistLocationSearch">
            <div class="custom-checkbox radio-block">
                <input checked type="radio" name="location" id="range-near" value="100-km">
                <label for="range-near">Whithin 100 miles</label>
            </div>

            <div class="custom-checkbox radio-block">
                <input type="radio" name="location" id="range-country" value="same-country">
                <label for="range-country">Same country</label>
            </div>

            <div class="custom-checkbox">
                <input type="radio" name="location" id="range-international" value="international">
                <label for="range-international">International</label>
            </div>
            </form>
        </div>

        <div class="details-wrap">
            <a class="details-btn" href="#">Change your project details</a>
        </div>
    </div>
    </section>

    <section class="results">

        <div class="results-header">
            <div class="container no-pad">
                <h1>Artists Matching Your Criteria</h1>

                <ul class="results-menu ul-reset">
                    <li data-toggle="#tab-rec" class="tab recommendations active">
                        <a>Recommendations</a>
                    </li>

                    <li data-toggle="#tab-singers" class="tab">
                        <a>Singers</a>
                    </li>

                    <li data-toggle="#tab-acrobats" class="tab">
                        <a>Acrobats</a>
                    </li>

                    <li data-toggle="#tab-fireshow" class="tab">
                        <a>Fire Shows</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="results-content">
            <div class="container">
                <div id="tab-rec" class="tab-block recommendations" style="display: block; padding-bottom: 100px;">


                    <div class="filters">
                        <select data-placeholder="Top rated">
                            <option value="0">Top rated</option>
                            <option value="1">Lowest rated</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Price">
                            <option value="0">Price</option>
                            <option value="1">Lorem Ipsum</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Distance">
                            <option value="0">From 0 to 50km</option>
                            <option value="1">From 50 to 200km</option>
                            <option value="2">From 200km to 1000km</option>
                        </select>

                        <div class="custom-checkbox">
                            <input type="checkbox" name="range" id="only-video">
                            <label for="only-video">Only artists with video</label>
                        </div>

                    </div>

                    {% for recommendation in recommended %}

                    <div class="slider">

                        <h2 class="title" style="margin-top: 0px">{{ recommendation.category.title }}</h2>

                        <div class="slider-block">

                            <div class="slider-wrapper searchRecomendationWrapper">
                                {% for recomendedArtist in recommendation.artists %}

                                <div class="profile-card bordered">
                                    <div class="video-icon"></div>

                                    <img class="header" src="{{ recomendedArtist.media.link }}"/>

                                    <p class="card-title">{{ recomendedArtist.name }}</p>

                                    <div class="user-rating recomendationRating clearfix">
                                        <div class="stars">
                                            <div class="star">
                                                <div class="fill-star"></div>
                                            </div>

                                            <div class="star">
                                                <div class="fill-star"></div>
                                            </div>

                                            <div class="star">
                                                <div class="fill-star"></div>
                                            </div>

                                            <div class="star">
                                                <div class="fill-star"></div>
                                            </div>

                                            <div class="star">
                                                <div class="fill-star"></div>
                                            </div>
                                        </div>

                                        <div class="rating">{{ recomendedArtist.rating }}/5.0 ({{ recomendedArtist.votes_count }} Votes)</div>
                                        <span class="raitingValRecomend hidden">{{ recomendedArtist.rating }}</span>
                                    </div>

                                    <div class="location">{{ recomendedArtist.country }}, {{ recomendedArtist.city }}</div>

                                    <div class="talents">
                                        {% for recomendedArtistCategory in recomendedArtist.categories %}
                                        {{ recomendedArtistCategory }},
                                        {% endfor %}
                                    </div>

                                    <div class="controls">
                                        <div class="button-gradient blue filled">
                                            <button data-dismiss="modal" class="btn">
                                                <a href="{{ path('profile_show', {'slug' : recomendedArtist.slug}) }}">
                                                     Profile
                                                </a>
                                            </button>
                                        </div>

                                        <div class="button-gradient blue ">
                                            <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                        </div>
                                    </div>
                                </div>

                                {% endfor %}
                            </div>


                        </div>

                    </div>
                    {% endfor %}

                </div>
                <div id="tab-singers" class="tab-block tab-content" style="display: none; padding-bottom: 100px;">
                    <div class="filters">
                        <select data-placeholder="Top rated">
                            <option value="0">Top rated</option>
                            <option value="1">Lowest rated</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Price">
                            <option value="0">Price</option>
                            <option value="1">Lorem Ipsum</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Distance">
                            <option value="0">From 0 to 50km</option>
                            <option value="1">From 50 to 200km</option>
                            <option value="2">From 200km to 1000km</option>
                        </select>

                        <div class="custom-checkbox">
                            <input type="checkbox" name="range" id="only-video1">
                            <label for="only-video1">Only artists with video</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>

                        <div class="controls show-more">
                            <div class="button-gradient">
                                <button data-dismiss="modal" class="btn">Show more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-acrobats" class="tab-block tab-content" style="display: none; padding-bottom: 100px;">
                    <div class="filters">
                        <select data-placeholder="Top rated">
                            <option value="0">Top rated</option>
                            <option value="1">Lowest rated</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Price">
                            <option value="0">Price</option>
                            <option value="1">Lorem Ipsum</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Distance">
                            <option value="0">From 0 to 50km</option>
                            <option value="1">From 50 to 200km</option>
                            <option value="2">From 200km to 1000km</option>
                        </select>

                        <div class="custom-checkbox">
                            <input type="checkbox" name="range" id="only-video2">
                            <label for="only-video2">Only artists with video</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>

                        <div class="controls show-more">
                            <div class="button-gradient">
                                <button data-dismiss="modal" class="btn">Show more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab-fireshow" class="tab-block tab-content" style="display: none; padding-bottom: 100px;">
                    <div class="filters">
                        <select data-placeholder="Top rated">
                            <option value="0">Top rated</option>
                            <option value="1">Lowest rated</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Price">
                            <option value="0">Price</option>
                            <option value="1">Lorem Ipsum</option>
                            <option value="2">Lorem Ipsum</option>
                        </select>

                        <select data-palaceholder="Distance">
                            <option value="0">From 0 to 50km</option>
                            <option value="1">From 50 to 200km</option>
                            <option value="2">From 200km to 1000km</option>
                        </select>

                        <div class="custom-checkbox">
                            <input type="checkbox" name="range" id="only-video3">
                            <label for="only-video3">Only artists with video</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="profile-card mobile-horizontal">
                            <div class="video-icon"></div>

                            <img class="header" src="assets/images/jazz_concert.jpg"/>

                            <p class="card-title">Lady Great Voice</p>

                            <div class="user-rating clearfix">
                                <div class="stars">
                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 100%" class="fill-star"></div>
                                    </div>

                                    <div class="star">
                                        <div style="width: 30%" class="fill-star"></div>
                                    </div>
                                </div>

                                <div class="rating">4.5/5.0 (16 Votes)</div>
                            </div>

                            <div class="location">United Kingdom, Essex</div>

                            <div class="talents">Singer, Song Writer, Jazz Vocalist, Vocalist</div>

                            <div class="controls">
                                <div class="button-gradient blue filled">
                                    <button data-dismiss="modal" class="btn">Profile</button>
                                </div>

                                <div class="button-gradient blue ">
                                    <button data-dismiss="modal" class="btn">Ask a free quote</button>
                                </div>
                            </div>
                        </div>

                        <div class="controls show-more">
                            <div class="button-gradient">
                                <button data-dismiss="modal" class="btn">Show more</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}