<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link rel="stylesheet" href="{{ asset('bundles/actedlegaldocs/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/actedlegaldocs/css/admin.css') }}" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                {% include 'blocks/menu.html.twig' %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="{{ asset('bundles/actedlegaldocs/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/actedlegaldocs/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/actedlegaldocs/js/admin.js') }}"></script>
</body>
</html>