{% block subject %}
    {% autoescape false %}
        ACTED Quotation received from {{ user.artist.name }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}
    {% autoescape false %}
        <p>Hello {{ client.firstname }},</p>
        <p>This is, {{ user.artist.name }}. I have just sent you a quotation with regard to your event “{{ event.title }}”. You can open this quotation <a href="{{ quotationLink }}">here</a> or access it for your chatroom.</p>
        <p>Please do not hesitate to contact me if you have any question.</p>
        <p>Kind regards,</p>
        <p>{{ user.artist.name }}</p>
    {% endautoescape %}
{% endblock %}