{% extends 'base.html.twig' %}

{% block body %}
    <h1>Performance Contracts list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Event date</th>
                <th>Event location</th>
                <th>Event amount</th>
                <th>Currency</th>
                <th>Last Call Date</th>
                <th>Artist Name</th>
                <th>Client Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performanceContract in performanceContracts %}
            <tr>
                <td><a href="{{ path('performancecontract_show', { 'id': performanceContract.id }) }}">{{ performanceContract.id }}</a></td>
                <td>{% if performanceContract.eventdate %}{{ performanceContract.eventdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ performanceContract.eventlocation }}</td>
                <td>{{ performanceContract.eventamount }}</td>
                <td>{{ performanceContract.currency }}</td>
                <td>{% if performanceContract.lastcalldate %}{{ performanceContract.lastcalldate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ performanceContract.artistname }}</td>
                <td>{{ performanceContract.clientname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('performancecontract_show', { 'id': performanceContract.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('performancecontract_edit', { 'id': performanceContract.id }) }}">edit</a>
                        </li>
                        <li>
                            <a target="_blank" href="/{{ performancecontract_dir }}/{{ performanceContract.id }}.pdf">view PDF</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('performancecontract_new') }}">Create a new contract</a>
        </li>
    </ul>
{% endblock %}
