{% extends 'base.html.twig' %}

{% block body %}
    <h1>PerformanceContract list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Artist_address</th>
                <th>Today_date</th>
                <th>Artist_details</th>
                <th>Client_details</th>
                <th>Event_date</th>
                <th>Event_location</th>
                <th>Performance_description</th>
                <th>Event_amount</th>
                <th>Currency</th>
                <th>Deposit_amount</th>
                <th>Deposit_percent</th>
                <th>Balance_amount</th>
                <th>Balance_percent</th>
                <th>Balance_mode</th>
                <th>Balance_when</th>
                <th>Transportation</th>
                <th>Accomodation</th>
                <th>Special_terms</th>
                <th>Last_call_date</th>
                <th>Artist_name</th>
                <th>Client_name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for performanceContract in performanceContracts %}
            <tr>
                <td><a href="{{ path('performancecontract_show', { 'id': performanceContract.id }) }}">{{ performanceContract.id }}</a></td>
                <td>{{ performanceContract.artistaddress }}</td>
                <td>{% if performanceContract.todaydate %}{{ performanceContract.todaydate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ performanceContract.artistdetails }}</td>
                <td>{{ performanceContract.clientdetails }}</td>
                <td>{% if performanceContract.eventdate %}{{ performanceContract.eventdate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ performanceContract.eventlocation }}</td>
                <td>{{ performanceContract.performancedescription }}</td>
                <td>{{ performanceContract.eventamount }}</td>
                <td>{{ performanceContract.currency }}</td>
                <td>{{ performanceContract.depositamount }}</td>
                <td>{{ performanceContract.depositpercent }}</td>
                <td>{{ performanceContract.balanceamount }}</td>
                <td>{{ performanceContract.balancepercent }}</td>
                <td>{{ performanceContract.balancemode }}</td>
                <td>{{ performanceContract.balancewhen }}</td>
                <td>{{ performanceContract.transportation }}</td>
                <td>{{ performanceContract.accomodation }}</td>
                <td>{{ performanceContract.specialterms }}</td>
                <td>{% if performanceContract.lastcalldate %}{{ performanceContract.lastcalldate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ performanceContract.artistname }}</td>
                <td>{{ performanceContract.clientname }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('performancecontract_show', { 'id': performanceContract.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('performancecontract_edit', { 'id': performanceContract.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('performancecontract_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
