{% extends 'base.html.twig' %}

{% block body %}
    <h1>PerformanceContract</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ performanceContract.id }}</td>
            </tr>
            <tr>
                <th>Artist_address</th>
                <td>{{ performanceContract.artistaddress }}</td>
            </tr>
            <tr>
                <th>Today_date</th>
                <td>{% if performanceContract.todaydate %}{{ performanceContract.todaydate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Artist_details</th>
                <td>{{ performanceContract.artistdetails }}</td>
            </tr>
            <tr>
                <th>Client_details</th>
                <td>{{ performanceContract.clientdetails }}</td>
            </tr>
            <tr>
                <th>Event_date</th>
                <td>{% if performanceContract.eventdate %}{{ performanceContract.eventdate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Event_location</th>
                <td>{{ performanceContract.eventlocation }}</td>
            </tr>
            <tr>
                <th>Performance_description</th>
                <td>{{ performanceContract.performancedescription }}</td>
            </tr>
            <tr>
                <th>Event_amount</th>
                <td>{{ performanceContract.eventamount }}</td>
            </tr>
            <tr>
                <th>Currency</th>
                <td>{{ performanceContract.currency }}</td>
            </tr>
            <tr>
                <th>Deposit_amount</th>
                <td>{{ performanceContract.depositamount }}</td>
            </tr>
            <tr>
                <th>Deposit_percent</th>
                <td>{{ performanceContract.depositpercent }}</td>
            </tr>
            <tr>
                <th>Balance_amount</th>
                <td>{{ performanceContract.balanceamount }}</td>
            </tr>
            <tr>
                <th>Balance_percent</th>
                <td>{{ performanceContract.balancepercent }}</td>
            </tr>
            <tr>
                <th>Balance_mode</th>
                <td>{{ performanceContract.balancemode }}</td>
            </tr>
            <tr>
                <th>Balance_when</th>
                <td>{{ performanceContract.balancewhen }}</td>
            </tr>
            <tr>
                <th>Transportation</th>
                <td>{{ performanceContract.transportation }}</td>
            </tr>
            <tr>
                <th>Accomodation</th>
                <td>{{ performanceContract.accomodation }}</td>
            </tr>
            <tr>
                <th>Special_terms</th>
                <td>{{ performanceContract.specialterms }}</td>
            </tr>
            <tr>
                <th>Last_call_date</th>
                <td>{% if performanceContract.lastcalldate %}{{ performanceContract.lastcalldate|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Artist_name</th>
                <td>{{ performanceContract.artistname }}</td>
            </tr>
            <tr>
                <th>Client_name</th>
                <td>{{ performanceContract.clientname }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('performancecontract_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('performancecontract_edit', { 'id': performanceContract.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
