{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}
<main class="messages">

    <div class="container">
        <!-- THIS MENU VISIBLE ONLY ON DESCTIOP SCREEN-->
        {% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}

        <div>
            <select data-class="selections-white" name="sortMessages" id="sortMessages">
                <option value="all">All messages</option>
                <option value="unread">Unread</option>
                <option value="archived">Archived</option>
            </select>


            <div class="dialogs">
                {% for message in messages|reverse %}
                <article class="col-xs-12 dialog-section noselect" data-longtap-duration="500" id="{{ message.id }}">
                    <div class="wrap clearfix">
                        <div class="avatar">
                            {% if message.sender_user.avatar is defined %}
                                <img src="{{ message.sender_user.avatar }}" alt=""/>
                            {% else %}
                                <img src="/assets/images/noAvatar.png" alt=""/>
                            {% endif %}
                        </div>
                        <div class="user-info">
                            <span class="user-name">{{ message.sender_user.firstname }}</span>
                            <span class="time">{{ message.time_from_get }}</span>
                        </div>
                        <div class="message-block">
                            <div class="col-lg-10 col-sm-10 text-block">
                                <p class="message-heading hidden-xs">Enquiry for {{ message.chat_room.event.title }} / {{ message.chat_room.event.city.name }} / {{ message.chat_room.event.starting_date }}</p>

                                <div class="text">
                                    {{ message.message_text }}
                                </div>

                                <div class="controls hidden-xs">
                                    <div class="button-gradient filled blue">
                                        <a href="/dashboard/chat/{{ message.chat_room.chat_id }}" class="btn register">See Conversation</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-2  message-controls no-pad">
                                <ul class="ul-reset">
                                    <li class="status confirmed"><i class="confirmed"></i> {{ message.chat_room.offer.event_offer[0].status }}</li>
                                    {% if message.archived == false %}
                                    <li class="archive hidden-xs"><a class="archiveMessage"><i class="archive"></i> Archive</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <ul class="clearfix message-controls controls-mobile ul-reset">
                        {% if message.archived == false %}
                            <li class="archive"><a class="archiveMessage"><i class="archive"></i> Archive</a></li>
                        {% endif %}
                    </ul>
                </article>
                {% endfor %}
            </div>
        </div>
    </div>


    </div>

</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}