{#<form action="#" class="detail-form">
    <div class="row clearfix">
        {% if not app.user.artist %}
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
            <h2 class="title">Event details</h2>
            <div class="frame">
                <label for="name_event">Name event</label>
                <input type="text" id="name_event" placeholder="{{ chat.event.title }}" value="{{ chat.event.title }}">
            </div>
            <div class="frame">
                <label for="country-select">Country</label>
                <select data-class="main-select" class="full-width" name="main-select" id="country-select">
                    {% for country in countries() %}
                        {% if country.name == chat.event.countryName %}
                            <option value="{{ country.id }}" name="country" selected="selected">{{ country.name }}</option>
                        {% else %}
                            <option value="{{ country.id }}" name="country">{{ country.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="row holder border-b clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="frame">
                        <label for="datetimepicker">Date</label>
                        <input id="datetimepicker" placeholder="{{ chat.event.starting_date }}" type="text" value="{{ chat.event.starting_date }}">
                    </div>
                    <div class="frame">
                        <label for="performance">Performance time</label>
                        <input type="text" id="performance" placeholder="10 p.m.">
                    </div>
                    <div class="frame">
                        <label for="arrival">Arrival time</label>
                        <input type="text" id="arrival" placeholder="6 p.m.">
                    </div>
                    <div class="frame">
                        <label for="guests">Number of guests</label>
                        <input type="text" id="guests" placeholder="{{ chat.event.number_of_guests }}" value="{{ chat.event.number_of_guests }}">
                    </div>
                    <div class="frame">
                        <label for="vanue">Vanue type</label>
                        <input type="text" id="vanue" placeholder="{{ chat.event.venue_type.venue_type }}" value="{{ chat.event.venue_type.venue_type }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                    <div class="frame">
                        <label for="adress">Adress</label>
                        <input type="text" id="adress" placeholder="Sr Regis">
                    </div>
                    <div class="frame">
                        <label for="cityEvent">City</label>
                        <select data-class="main-select" class="full-width" name="main-select" id="cityEvent">
                            <option value="{{ chat.event.city.id }}" name="country" selected="selected">{{ chat.event.city.name }}</option>
                        </select>
                    </div>
                    <div class="frame">
                        <label for="p-code">Post code</label>
                        <input type="text" id="p-code" placeholder="Sr Regis">
                    </div>
                    <div class="map-holder">
                        <div id="map"></div>
                        <em class="note">Pin your location on the map</em>
                    </div>
                    <div class="hidden" id="eventLocationCoordinates">
                        <span class="eventCityId">{{ chat.event.city.id }}</span>
                        <span class="latitude">{{ chat.event.city.latitude }}</span>
                        <span class="longitude">{{ chat.event.city.longitude }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% elseif app.user.artist %}
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                    <h2 class="title">Event details</h2>
                    <div class="frame">
                        <label for="name_event">Name event</label>
                        <input type="text" placeholder="{{ chat.event.title }}" value="{{ chat.event.title }}" disabled>
                    </div>
                    <div class="frame">
                        <label for="country-select">Country</label>
                        <input type="text" placeholder="{{ chat.event.countryName }}" value="{{ chat.event.countryName }}" disabled>
                    </div>
                    <div class="row holder border-b clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="frame">
                                <label for="datetimepicker">Date</label>
                                <input type="text" placeholder="{{ chat.event.starting_date }}" value="{{ chat.event.starting_date }}" disabled>
                            </div>
                            <div class="frame">
                                <label for="performance">Performance time</label>
                                <input type="text" placeholder="{{ chat.event.timing }}" value="{{ chat.event.timing }}" disabled>
                            </div>
                            <div class="frame">
                                <label for="arrival">Arrival time</label>
                                <input type="text" placeholder="" value="" disabled>
                            </div>
                            <div class="frame">
                                <label for="guests">Number of guests</label>
                                <input type="text" placeholder="{{ chat.event.number_of_guests }}" value="{{ chat.event.number_of_guests }}" disabled>
                            </div>
                            <div class="frame">
                                <label for="vanue">Vanue type</label>
                                <input type="text" placeholder="{{ chat.event.venue_type.venue_type }}" value="{{ chat.event.venue_type.venue_type }}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                            <div class="frame">
                                <label for="adress">Adress</label>
                                <input type="text" placeholder="{{ chat.event.location }}" value="{{ chat.event.location }}" disabled>
                            </div>
                            <div class="frame">
                                <label for="city">City</label>
                                <input type="text" placeholder="{{ chat.event.city.name }}" value="{{ chat.event.city.name }}" disabled>
                            </div>
                            <div class="frame">
                                <label for="p-code">Post code</label>
                                <input type="text" placeholder="" value="" disabled>
                            </div>
                            <div class="map-holder">
                                <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ chat.event.location|url_encode }}&zoom=14&key={{googlemaps.key}}&size=196x106&markers=size:mid|color:blue|label:E%7C{{ chat.event.location|url_encode }}
">
                            </div>
                            <div class="hidden" id="eventLocationCoordinates">
                                <span class="eventCityId">{{ chat.event.city.id }}</span>
                                <span class="latitude">{{ chat.event.city.latitude }}</span>
                                <span class="longitude">{{ chat.event.city.longitude }}</span>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-6 no-padding ">
            {% if app.user.artist %}
                <h2 class="title">Quote</h2>
            <div class="free-quote-modal request quotationDetailsChat">
            </div>
            {% else %}
            <h2 class="title">Quote</h2>
            <div class="v-frame">
                <div class="v-box">
                    <div class="box">
                        <em class="note">No quote submitted yet</em>
                        <div class="controls">
                            <div class="button-gradient filled">
                                <button class="btn" type="submit">Send quotation</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row list clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="c-name">Client name</label>
            <input type="text" id="c-name" placeholder="Thomas Man">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="c-person">Contact person</label>
            <input type="text" id="c-person" placeholder="Thomas Hardy">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="p-number">Phone number</label>
            <input type="text" id="p-number" placeholder="+4412321321321">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="e-address">Email addres</label>
            <input type="text" id="e-address" placeholder="smth@gmail.com">
        </div>

    </div>
</form>#}

<form action="#" class="detail-form">
    <div class="row clearfix">
        <div class="col-lg-6 col-md-6 col-sm-6 container-custom no-padding">
            <h2 class="title event">Event details</h2>

            <div class="frame">
                <label for="name_event">Event name</label>
                <input id="name_event" type="text" placeholder="{{ chat.event.title }}" value="{{ chat.event.title }}">
            </div>

            <div class="row holder clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-custom-size">
                    <div class="frame">
                        <label for="datetimepicker">Date</label>
                        <input id="datetimepicker" type="text" class="custom-size" placeholder="{{ chat.event.starting_date }}" value="{{ chat.event.starting_date }}">
                    </div>
                    <div class="frame">
                        <label for="event_time">Event timing</label>
                        <input id="event_time" type="text" class="custom-size" placeholder="{{ chat.event.timing }}" value="{{ chat.event.timing }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pull-right col-custom-size">
                    <div class="frame">
                        <label for="performance">1 day/multiple days</label>
                        <input id="performance" type="text" class="custom-size" placeholder="2-day event" value="2-day event">
                    </div>
                    <div class="frame">
                        <label for="country">Country</label>
                        <input id="country" type="text" class="custom-size" placeholder="{{ chat.event.countryName }}" value="{{ chat.event.countryName }}" disabled>
                    </div>
                </div>
            </div>

            <div class="frame">
                <label for="address">Address</label>
                <input id="address" type="text" placeholder="St Regis" value="St Regis">
            </div>

            <div class="row holder clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-custom-size">
                    <div class="frame">
                        <label for="venue_type">Venue type</label>
                        <input id="venue_type" type="text" class="custom-size" placeholder="{{ chat.event.venue_type.venue_type }}" value="{{ chat.event.venue_type.venue_type }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pull-right col-custom-size">
                    <div class="frame">
                        <label for="guests_count">Number of guests</label>
                        <input id="guests_count" type="text" class="custom-size" placeholder="{{ chat.event.number_of_guests }}" value="{{ chat.event.number_of_guests }}">
                    </div>
                </div>
            </div>

            <div class="frame">
                <label for="extra_info">Additional info</label>
                <textarea id="extra_info" placeholder="I want this celebration to be super cool!">I want this celebration to be super cool!</textarea>
            </div>
        </div>
        <!--quote section start-->
        <div class="col-lg-6 col-md-6 col-sm-6 no-padding quote-section">
            <h2 class="title quot">Quote #1</h2>
            <!--quote section holder start-->
            <div class="holder">
                <!--service start-->
                {% for p in performances %}
                <article class="service">
                    <h3 class="package-name">{{ p }}</h3>
                    <ul class="">
                    {% for package in p.packages %}
                        <li>
                            <strong class="sub-title">{{ package.name }}</strong>
                            <div class="row">
                                {% for option in package.options %}
                                <div class="col-md-12 no-pad">
                                    <span class="short" name="currency1" id="currency1">{{ option.qty }}</span>
                                    <span class="">x</span>
                                    <span class="short" name="currency11" id="currency11">{{ option.duration }} min</span>
                                    <div class="pull-right">
                                        <span class="short">{{ option.rates[0].price.amount }}</span>
                                        <span class="pull-right">GBP</span>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </article>
                {% endfor %}
                <article class="service act-extras">
                    <h3 class="package-name">Extra - 1</h3>
                    <ul class="">
                        <li>
                            <div class="row">
                                <div class="col-md-12 no-pad">
                                    <strong class="sub-title">Standart Act</strong>
                                    <span class="short" name="currency1" id="currency1">2</span>
                                    <span class="">x</span>
                                    <span class="short" name="currency11" id="currency11">45 min</span>
                                    <div class="pull-right">
                                        <span class="short">3.000</span>
                                        <span class="pull-right">GBP</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <span class="extra-descr">Description of extra is really nice singe. and I’m writing it for fill this place</span>
                            </div>
                        </li>
                    </ul>
                </article>
                <!--service end-->
            </div>
            <div class="row">
                <div class="text-box">
                    <h3>Payment terms</h3>
                    <p><span class="percent">30%</span> guaranteed Deposit payment on <b>Escrow Account</b></p>
                    <p><span class="percent">50%</span> guaranteed Balance payment on <b>Escrow Account</b></p>
                </div>
                <div class="controls">
                    <div class="button-gradient filled">
                        <button class="btn" type="submit">Edit Quotation</button>
                    </div>
                </div>
            </div>
            <!--quote section holder end-->
            <ul class="miscellaneous-list">
                <li>
                    <a href="#"><i class="icon icon-print" aria-hidden="true"></i>Print</a>
                </li>
            </ul>
        </div>
        <!--quote section end-->
    </div>

</form>
{#{{ dump(chat.event) }}#}
{#{{ dump(chatRoom.event) }}#}

{#{% for p in performances %}#}
    {#{% for pkg in p.packages %}#}
        {#{{ dump(pkg) }}#}
    {#{% endfor %}#}
{#{% endfor %}#}