<form action="#" class="detail-form">
    <div class="row clearfix">
        {% if not app.user.artist %}
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
            <h2 class="title">Event details</h2>
            <div class="frame">
                <label for="name_event">Name event</label>
                <input type="text" id="name_event" placeholder="{{ chat.event.title }}" value="{{ chat.event.title }}">
            </div>
            <div class="frame">
                <label for="country-select">Country</label>
                <select data-class="main-select" class="full-width" name="main-select" id="country-select">
                    {% for country in countries() %}
                        {% if country.name == chat.event.countryName %}
                            <option value="{{ country.id }}" name="country" selected="selected">{{ country.name }}</option>
                        {% else %}
                            <option value="{{ country.id }}" name="country">{{ country.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class="row holder border-b clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="frame">
                        <label for="datetimepicker">Date</label>
                        <input id="datetimepicker" placeholder="{{ chat.event.starting_date }}" type="text" value="{{ chat.event.starting_date }}">
                    </div>
                    <div class="frame">
                        <label for="performance">Performance time</label>
                        <input type="text" id="performance" placeholder="10 p.m.">
                    </div>
                    <div class="frame">
                        <label for="arrival">Arrival time</label>
                        <input type="text" id="arrival" placeholder="6 p.m.">
                    </div>
                    <div class="frame">
                        <label for="guests">Number of guests</label>
                        <input type="text" id="guests" placeholder="{{ chat.event.number_of_guests }}" value="{{ chat.event.number_of_guests }}">
                    </div>
                    <div class="frame">
                        <label for="vanue">Vanue type</label>
                        <input type="text" id="vanue" placeholder="{{ chat.event.venue_type.venue_type }}" value="{{ chat.event.venue_type.venue_type }}">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                    <div class="frame">
                        <label for="adress">Adress</label>
                        <input type="text" id="adress" placeholder="Sr Regis">
                    </div>
                    <div class="frame">
                        <label for="city">City</label>
                        <select data-class="main-select" class="full-width" name="main-select" id="cityEvent">
                        </select>
                    </div>
                    <div class="frame">
                        <label for="p-code">Post code</label>
                        <input type="text" id="p-code" placeholder="Sr Regis">
                    </div>
                    <div class="map-holder">
                        <div id="map"></div>
                        <em class="note">Pin your location on the map</em>
                    </div>
                    <div class="hidden" id="eventLocationCoordinates">
                        <span class="eventCityId">{{ chat.event.city.id }}</span>
                        <span class="latitude">{{ chat.event.city.latitude }}</span>
                        <span class="longitude">{{ chat.event.city.longitude }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% elseif app.user.artist %}
            <div class="col-lg-6 col-md-6 col-sm-6 no-padding">
                    <h2 class="title">Event details</h2>
                    <div class="frame">
                        <label for="name_event">Name event</label>
                        <div class="eventArtist">{{ chat.event.title }}</div>
                    </div>
                    <div class="frame">
                        <label for="country-select">Country</label>
                        <div class="eventArtist">{{ chat.event.countryName }}</div>
                    </div>
                    <div class="row holder border-b clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="frame">
                                <label for="datetimepicker">Date</label>
                                <div class="eventArtist">{{ chat.event.starting_date }}</div>
                            </div>
                            <div class="frame">
                                <label for="performance">Performance time</label>
                                <input type="text" id="performance" placeholder="10 p.m.">
                            </div>
                            <div class="frame">
                                <label for="arrival">Arrival time</label>
                                <input type="text" id="arrival" placeholder="6 p.m.">
                            </div>
                            <div class="frame">
                                <label for="guests">Number of guests</label>
                                <div class="eventArtist">{{ chat.event.number_of_guests }}</div>
                            </div>
                            <div class="frame">
                                <label for="vanue">Vanue type</label>
                                <div class="eventArtist">{{ chat.event.venue_type.venue_type }}</div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 pull-right">
                            <div class="frame">
                                <label for="adress">Adress</label>
                                <input type="text" id="adress" placeholder="Sr Regis">
                            </div>
                            <div class="frame">
                                <label for="city">City</label>
                                <div class="eventArtist">{{ chat.event.city.name }}</div>
                            </div>
                            <div class="frame">
                                <label for="p-code">Post code</label>
                                <input type="text" id="p-code" placeholder="Sr Regis">
                            </div>
                            <div class="map-holder">
                                <div id="map"></div>
                                <em class="note">Pin your location on the map</em>
                            </div>
                            <div class="hidden" id="eventLocationCoordinates">
                                <span class="eventCityId">{{ chat.event.city.id }}</span>
                                <span class="latitude">{{ chat.event.city.latitude }}</span>
                                <span class="longitude">{{ chat.event.city.longitude }}</span>
                            </div>
                        </div>
                    </div>
                </div>
        {% endif %}
        <div class="col-lg-6 col-md-6 col-sm-6 no-padding ">
            {% if app.user.artist %}
                <h2 class="title">Quote</h2>
            <div class="free-quote-modal request quotationDetailsChat">
                <ul class="price-list">
                    <li>
                        <div class="custom-checkbox">
                            <input id="req_checkbox_1" type="checkbox">
                            <label for="req_checkbox_1">Beautiful Acts</label>
                        </div>
                        <div class="row">
                            <div class="col pull-left">
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_11" type="checkbox">
                                        <label for="req_checkbox_11">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency1" id="currency1">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col pull-right">
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_12" type="checkbox">
                                        <label for="req_checkbox_12">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency2" id="currency2">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="custom-checkbox">
                            <input id="req_checkbox_2" type="checkbox">
                            <label for="req_checkbox_2">Beautiful Acts</label>
                        </div>
                        <div class="row">
                            <div class="col pull-left">
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_21" type="checkbox">
                                        <label for="req_checkbox_21">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency4" id="currency4">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_22" type="checkbox">
                                        <label for="req_checkbox_22">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency5" id="currency5">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col pull-right">
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_23" type="checkbox">
                                        <label for="req_checkbox_23">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency6" id="currency6">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                                <div class="row">
                                    <select data-class="selections-white currency" name="currency7" id="currency7">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="custom-checkbox">
                            <input id="req_checkbox_3" type="checkbox">
                            <label for="req_checkbox_3">Beautiful Acts</label>
                        </div>
                        <div class="row">
                            <div class="col pull-left">
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_31" type="checkbox">
                                        <label for="req_checkbox_31">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency8" id="currency8">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col pull-right">
                                <div class="row">
                                    <div class="custom-checkbox small">
                                        <input id="req_checkbox_32" type="checkbox">
                                        <label for="req_checkbox_32">2x45 min</label>
                                    </div>
                                    <select data-class="selections-white currency" name="currency9" id="currency9">
                                        <option value="0">3.000 GBP</option>
                                        <option value="1">3.001 GBP</option>
                                        <option value="2">3.002 GBP</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="controls">
                        <div class="button-gradient blue">
                            <button type="button" class="btn register">Add Extra Service</button>
                        </div>
                    </div>
                </div>
                <h4>Includes travel expanses</h4>
                <div>
                    <div class="custom-checkbox">
                        <input id="req_radio_1" type="radio" name="req_radio">
                        <label for="req_radio_1">Yes</label>
                    </div>
                    <div class="custom-checkbox">
                        <input id="req_radio_2" type="radio" name="req_radio">
                        <label for="req_radio_2">No</label>
                    </div>
                </div>
            </div>
            {% else %}
            <h2 class="title">Quote</h2>
            <div class="v-frame">
                <div class="v-box">
                    <div class="box">
                        <em class="note">No quote submitted yet</em>
                        <div class="controls">
                            <div class="button-gradient filled">
                                <button class="btn" type="submit">Send quotation</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="row list clearfix">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="c-name">Client name</label>
            <input type="text" id="c-name" placeholder="Thomas Man">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="c-person">Contact person</label>
            <input type="text" id="c-person" placeholder="Thomas Hardy">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="p-number">Phone number</label>
            <input type="text" id="p-number" placeholder="+4412321321321">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label for="e-address">Email addres</label>
            <input type="text" id="e-address" placeholder="smth@gmail.com">
        </div>

    </div>
</form>