{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}


<main class="chat-room">

    <div class="container">
        <!-- THIS MENU VISIBLE ONLY ON DESCTIOP SCREEN-->
        <ul class="categories-menu">
            <li class="menu-block active"><a href="/messages">Messages</a></li>
            <li class="menu-block"><a href="/enquiries">Enquiries</a></li>
            <li class="menu-block"><a href="/bookings">Bookings</a></li>
            <li class="menu-block"><a href="/agenda">Agenda</a></li>
            <li class="menu-block"><a href="/payment">Payments</a></li>
            <li class="menu-block"><a href="/prices">Prices</a></li>
            <li class="menu-block"><a href="/reports">Technical Requirements</a></li>
            <li class="menu-block"><a href="/feedbacks">Feedbacks</a></li>
        </ul>

        <!-- THIS DROPDOWN VISIBLE ONLY ON SM SCREEN-->
        <div class="dropdown categories-dropdown hidden-lg hidden-md hidden-sm visible-xs">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Chat-room
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="menu-block"><a href="/messages">Messages</a></li>
                <li class="menu-block"><a href="/enquiries">Enquiries</a></li>
                <li class="menu-block"><a href="/bookings">Bookings</a></li>
                <li class="menu-block"><a href="/agenda">Agenda</a></li>
                <li class="menu-block"><a href="/prices">Prices</a></li>
                <li class="menu-block"><a href="/payment">Payment & Accounts</a></li>
                <li class="menu-block"><a href="/reports">Reports</a></li>
                <li class="menu-block"><a href="/feedbacks">Feedbacks</a></li>
            </ul>
        </div>

        <div class="wrap">
            <!-- TITLE SECTION -->
            <section>
                <!--<a class="btn-back" href="/messages">Back to messages</a>-->
                <h2 class="main-title">Chatroom #4</h2>
                <!--detail form start-->
                <div class="tooltip-message warning">
                    <i class="notification-bell" aria-hidden="true"></i>
                    <span>The client has updated the event details, please validate them!</span>
                </div>
                <div class="tooltip-message info">
                    <i class="notification-bell" aria-hidden="true"></i>
                    <span>The client has updated the performance time, please confirm you are fine with this change</span>
                </div>
            </section>

            <!-- EVENT INFO SECTION -->
            <section class="section-one">
                <div class="section-info-title">
                    <span></span>
                    <p>Make an offer</p>
                </div>

                <form action="#" class="detail-form">
                    <div class="row clearfix">
                        <div class="col-lg-6 col-md-6 col-sm-6 container-custom no-padding">
                            <h2 class="title event">Event details</h2>

                            <div class="frame">
                                <label for="name_event">Event name</label>
                                <input id="name_event" type="text" placeholder="Christmas Party" value="Christmas Party">
                            </div>

                            <div class="row holder clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-custom-size">
                                    <div class="frame">
                                        <label for="datetimepicker">Date</label>
                                        <input id="datetimepicker" type="text" class="custom-size" placeholder="17/12/2016" value="17/12/2016">
                                    </div>
                                    <div class="frame">
                                        <label for="event_time">Event timing</label>
                                        <input id="event_time" type="text" class="custom-size" placeholder="6 p.m." value="6 p.m.">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 pull-right col-custom-size">
                                    <div class="frame">
                                        <label for="performance">1 day/multiple days</label>
                                        <input id="performance" type="text" class="custom-size" placeholder="2-day event" value="2-day event">
                                    </div>
                                    <div class="frame">
                                        <label for="country">Country</label>
                                        <input id="country" type="text" class="custom-size" placeholder="United Kingdom" value="United Kingdom" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="frame">
                                <label for="address">Address</label>
                                <input id="address" type="text" placeholder="St Regis" value="St Regis">
                            </div>

                            <div class="row holder clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-custom-size">
                                    <div class="frame">
                                        <label for="venue_type">Venue type</label>
                                        <input id="venue_type" type="text" class="custom-size" placeholder="Hotel Ballrom" value="Hotel Ballrom">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 pull-right col-custom-size">
                                    <div class="frame">
                                        <label for="guests_count">Number of guests</label>
                                        <input id="guests_count" type="text" class="custom-size" placeholder="Less than 50" value="Less than 50">
                                    </div>
                                </div>
                            </div>

                            <div class="frame">
                                <label for="extra_info">Additional info</label>
                                <textarea id="extra_info" placeholder="I want this celebration to be super cool!">I want this celebration to be super cool!</textarea>
                            </div>
                        </div>
                        <!--quote section start-->
                        <div class="col-lg-6 col-md-6 col-sm-6 no-padding quote-section">
                            <h2 class="title quot">Quote #1</h2>
                            <!--quote section holder start-->
                            <div class="holder">
                                <!--service start-->
                                <article class="service">
                                    <h3 class="package-name">Act 1 - Jazz Band</h3>
                                    <ul class="">
                                        <li>
                                            <strong class="sub-title">3-piece Jazz Band</strong>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <span class="short" name="currency1" id="currency1">1</span>
                                                    <span class="">x</span>
                                                    <span class="short" name="currency11" id="currency11">45 min</span>
                                                    <div class="pull-right">
                                                        <span class="short">3.000</span>
                                                        <span class="pull-right">GBP</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <strong class="sub-title">3-piece Jazz Band</strong>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <div class="row">
                                                        <span class="short" name="currency1" id="currency1">1</span>
                                                        <span class="">x</span>
                                                        <span class="short" name="currency11" id="currency11">45 min</span>
                                                        <div class="pull-right">
                                                            <span class="short">3.000</span>
                                                            <span class="pull-right">GBP</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                                <article class="service">
                                    <h3 class="package-name">Act 1 - Jazz Band</h3>
                                    <ul class="">
                                        <li>
                                            <strong class="sub-title">3-piece Jazz Band</strong>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <span class="short" name="currency1" id="currency1">1</span>
                                                    <span class="">x</span>
                                                    <span class="short" name="currency11" id="currency11">45 min</span>
                                                    <div class="pull-right">
                                                        <span class="short">3.000</span>
                                                        <span class="pull-right">GBP</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <strong class="sub-title">3-piece Jazz Band</strong>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <div class="row">
                                                        <span class="short" name="currency1" id="currency1">1</span>
                                                        <span class="">x</span>
                                                        <span class="short" name="currency11" id="currency11">45 min</span>
                                                        <div class="pull-right">
                                                            <span class="short">3.000</span>
                                                            <span class="pull-right">GBP</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                                <article class="service">
                                    <h3 class="package-name">Act 1 - Jazz Band</h3>
                                    <ul class="">
                                        <li>
                                            <strong class="sub-title">3-piece Jazz Band</strong>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <span class="short" name="currency1" id="currency1">1</span>
                                                    <span class="">x</span>
                                                    <span class="short" name="currency11" id="currency11">45 min</span>
                                                    <div class="pull-right">
                                                        <span class="short">3.000</span>
                                                        <span class="pull-right">GBP</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <strong class="sub-title">3-piece Jazz Band</strong>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <div class="row">
                                                        <span class="short" name="currency1" id="currency1">1</span>
                                                        <span class="">x</span>
                                                        <span class="short" name="currency11" id="currency11">45 min</span>
                                                        <div class="pull-right">
                                                            <span class="short">3.000</span>
                                                            <span class="pull-right">GBP</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                                <article class="service act-extras">
                                    <h3 class="package-name">Extra - 1</h3>
                                    <ul class="">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-12 no-pad">
                                                    <strong class="sub-title">Standart Act</strong>
                                                    <span class="short" name="currency1" id="currency1">2</span>
                                                    <span class="">x</span>
                                                    <span class="short" name="currency11" id="currency11">45 min</span>
                                                    <div class="pull-right">
                                                        <span class="short">3.000</span>
                                                        <span class="pull-right">GBP</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <span class="extra-descr">Description of extra is really nice singe. and I’m writing it for fill this place</span>
                                            </div>
                                        </li>
                                    </ul>
                                </article>
                                <!--service end-->
                            </div>
                            <div class="row">
                                <div class="text-box">
                                    <h3>Payment terms</h3>
                                    <p><span class="percent">30%</span> guaranteed Deposit payment on <b>Escrow Account</b></p>
                                    <p><span class="percent">50%</span> guaranteed Balance payment on <b>Escrow Account</b></p>
                                </div>
                                <div class="controls">
                                    <div class="button-gradient filled">
                                        <button class="btn" type="submit">Edit Quotation</button>
                                    </div>
                                </div>
                            </div>
                            <!--quote section holder end-->
                            <ul class="miscellaneous-list">
                                <li>
                                    <a href="#"><i class="icon icon-print" aria-hidden="true"></i>Print</a>
                                </li>
                            </ul>
                        </div>
                        <!--quote section end-->
                    </div>

                </form>

                <div class="section-info-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="details_agree" name="package-check" value="" type="checkbox">
                                <label for="details_agree">I agree with these details</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="extra_provide_acts" name="package-check" value="" type="checkbox">
                                <label for="extra_provide_acts">I can provide the acts & extras selected</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-two">
                <div class="section-info-title">
                    <span></span>
                    <p>Agree on the timing and technical requirements</p>
                </div>
                <div class="row clearfix">
                    <div class="tr-container">
                        <div class="col-md-6 no-pad">
                            <span class="title">Performance time</span>
                            <div class="performance-time">
                                <span class="info">The performance starts at:</span>
                                <span class="time">6:30 PM</span>
                            </div>
                            <div class="performance-info">
                                Additional info <i>(This will be included in the booking agreement):</i>
                            </div>
                            <div class="performance-info-desc">
                                <p>This performance will continue for 3 days. First two days will start from 2 pm till 3 am. And third day will be a full day party!</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <span class="tr-title">Technical requirements</span>
                            <div class="tr-select-container">
                                <select class="tr-select">
                                    <option>Technical requirement 1</option>
                                    <option>Technical requirement 2</option>
                                    <option>Technical requirement 3</option>
                                    <option>Technical requirement 4</option>
                                    <option>Technical requirement 5</option>
                                    <option>Technical requirement 6</option>
                                    <option>Technical requirement 7</option>
                                    <option>Technical requirement 8</option>
                                </select>
                                <div>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                            <div class="tr-desc">
                                <span class="tr-desc-title">Music system</span>
                                <p class="tr-desc-text">I need to have few music speakersI need to have few music speakersI need to have few music speakers
                                    I need to have few musicI need to have few music speakersI need to have few music speakers
                                    I need to have few music speakersI need to have few musicI need to have few music speakers
                                    I need to have few music speakersI need to have few music speakers
                                    I need to have few music</p>
                            </div>
                            <div class="tr-files">
                                <ul>
                                    <li>
                                        <i class="fa fa-file-pdf-o icon icon-pdf" aria-hidden="true"></i>
                                        Event_1
                                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-pdf-o icon icon-pdf" aria-hidden="true"></i>
                                        Event_2
                                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-pdf-o icon icon-pdf" aria-hidden="true"></i>
                                        Event_3
                                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-file-pdf-o icon icon-pdf" aria-hidden="true"></i>
                                        Event_4
                                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                    </li>
                                </ul>
                                <div class="attach-file-btn">
                                    <i class="icon icon-attach"></i>
                                    <label for="attach_file">Attach</label>
                                    <input id="attach_file" type="file" hidden>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-info-footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="timing_agree" name="timing_agree" value="" type="checkbox">
                                <label for="timing_agree">I agree with this timing</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="requirements_agree" name="requirements_agree" value="" type="checkbox">
                                <label for="requirements_agree">I agree to provide these requirements</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-three">
                <div class="section-info-title">
                    <span></span>
                    <p>Confirm the booking</p>
                </div>
                <div class="row booking-confirm-container">
                    <div class="col-md-6">
                        <p class="deposit-info"><b>Deposit:</b> 1500 GBP received via secured payment</p>
                        <p class="deposit-info"><b>Balance:</b> 1500 GBP unpaid</p>
                    </div>
                    <div class="col-md-3 booking-confirm-list pull-right">
                        <div class="booking-confirm-item">
                            <div>
                                Quotation
                            </div>
                            <div>
                                <a href="#">See</a>
                            </div>
                            <div>
                                <a href="#">Download</a>
                            </div>
                        </div>
                        <div class="booking-confirm-item">
                            <div>
                                Invoice
                            </div>
                            <div>
                                <a href="#">See</a>
                            </div>
                            <div>
                                <a href="#">Download</a>
                            </div>
                        </div>
                        <div class="booking-confirm-item">
                            <div>
                                Booking Agreement
                            </div>
                            <div>
                                <a href="#">See</a>
                            </div>
                            <div>
                                <a href="#">Download</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <button class="book-now-btn" disabled>Book now</button>
                </div>
            </section>
            <section class="section-four">
                <div class="section-info-title">
                    <span></span>
                    <p>Contact details</p>
                </div>
                <div class="row list contacts-info clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="c-name">Name</label>
                        <input type="text" id="c-name" placeholder="Thomas Man" value="Thomas Man">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="c-person">Contact person</label>
                        <input type="text" id="c-person" placeholder="***************" value="***************">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="p-number">Phone Number</label>
                        <input type="text" id="p-number" placeholder="***************" value="***************">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="e-address">Email address</label>
                        <input type="text" id="e-address" placeholder="***************" value="***************">
                    </div>
                </div>
            </section>

            <!--detail form end-->
            <!--miscellaneous list start-->

            <!--miscellaneous list end-->
        </div>
        <!--twocolumns start-->
        <div id="twocolumns">
            <div class="col-1">
                <ul class="comments-list">
                    <li>
                        <a href="#" class="img-holder">
                            <img src="assets/images/avatar.jpg" alt="image description">
                        </a>
                        <div class="holder">
                            <div class="box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores aspernatur at commodi consectetur cum, deserunt dolores earum eum eveniet harum impedit libero nisi nobis pariatur perspiciatis placeat provident quis repellat repellendus sed ut velit? Animi atque commodi doloremque esse ex facilis fugit in iusto laudantium magni minima numquam qui saepe soluta tempora ullam, voluptas?</p>
                                <em class="date">Today at 12.34 pm</em>
                            </div>
                        </div>
                    </li>
                    <li class="right active">
                        <a href="#" class="img-holder">
                            <img src="assets/images/Avatar_profile.jpg" alt="image description">
                        </a>
                        <div class="holder">
                            <div class="box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem maxime optio quis. Consectetur, ducimus illum impedit pariatur temporibus velit!</p>
                                <em class="date">Today at 12.35 am</em>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="img-holder">
                            <img src="assets/images/avatar.jpg" alt="image description">
                        </a>
                        <div class="holder">
                            <div class="box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias consequuntur ea eligendi error excepturi facere fugiat ipsum iusto labore laboriosam laudantium, magni maiores molestiae mollitia perspiciatis quam, quos rem repellat repellendus sunt suscipit temporibus, totam vel? Amet deserunt enim iure necessitatibus. Aperiam assumenda dolores eius esse est facere, nisi nostrum quod reprehenderit sint suscipit tempora voluptatum. Assumenda aut dolorum earum fuga odit pariatur quod ratione voluptate. Alias amet, debitis est eveniet fugit ipsam sunt?</p>
                                <em class="date">Today at 12.34 pm</em>
                            </div>
                        </div>
                    </li>
                    <li class="right active">
                        <a href="#" class="img-holder">
                            <img src="assets/images/Avatar_profile.jpg" alt="image description">
                        </a>
                        <div class="holder">
                            <div class="box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto autem maxime optio quis. Consectetur, ducimus illum impedit pariatur temporibus velit!</p>
                                <em class="date">Today at 12.35 am</em>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="img-holder">
                            <img src="assets/images/avatar.jpg" alt="image description">
                        </a>
                        <div class="holder">
                            <div class="box">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias consequuntur ea eligendi error excepturi facere fugiat ipsum iusto labore laboriosam laudantium, magni maiores molestiae mollitia perspiciatis quam, quos rem repellat repellendus sunt suscipit temporibus, totam vel? Amet deserunt enim iure necessitatibus. Aperiam assumenda dolores eius esse est facere, nisi nostrum quod reprehenderit sint suscipit tempora voluptatum. Assumenda aut dolorum earum fuga odit pariatur quod ratione voluptate. Alias amet, debitis est eveniet fugit ipsam sunt?</p>
                                <em class="date">Today at 12.34 pm</em>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <form class="message-form" action="#">
                    <textarea class="textarea" placeholder="Write your message">Write your message</textarea>
                    <div class="upload-box">
                        <div class="row">
                            <input type="file" name="files[]" id="filer_input1" multiple="multiple">
                        </div>
                        <div class="controls">
                            <div class="button-gradient filled">
                                <button class="btn" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="document-list">
                    <div class="doc-item">
                        <i class="icon icon-white-cross"></i>
                        <img src="../assets/images/playing_piano.jpg">
                    </div>
                    <div class="doc-item">
                        <i class="icon icon-white-cross"></i>
                        <img src="../assets/images/playing_piano.jpg">
                    </div>
                    <div class="doc-item">
                        <i class="icon icon-white-cross"></i>
                        <img src="../assets/images/playing_piano.jpg">
                    </div>
                    <div class="doc-item">
                        <i class="icon icon-white-cross"></i>
                        <img src="../assets/images/playing_piano.jpg">
                    </div>
                    <div class="doc-item">
                        <i class="icon icon-white-cross"></i>
                        <img src="../assets/images/playing_piano.jpg">
                    </div>
                </div>
                <div class="document-files">
                    <div class="file-item">
                        <span>Document</span>
                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                        <span>Event_1.pdf</span>
                    </div>
                    <div class="file-item">
                        <span>Document</span>
                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                        <span>Event_1.pdf</span>
                    </div>
                    <div class="file-item">
                        <span>Document</span>
                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                        <span>Event_1.pdf</span>
                    </div>
                    <div class="file-item">
                        <span>Document</span>
                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                        <span>Event_1.pdf</span>
                    </div>
                    <div class="file-item">
                        <span>Document</span>
                        <i class="icon icon-delete-attached" aria-hidden="true"></i>
                        <span>Event_1.pdf</span>
                    </div>
                </div>
            </div>
        </div>
        <!--twocolumns end-->
    </div>

</main>











{#<main class="chat-room">#}

    {#<div class="container">#}
        {#{% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}#}

        {#<div class="wrap">#}
            {#<a class="btn-back" href="{{ path('all_messages_user') }}">Back to messages</a>#}
            {#<h2 class="main-title">Chatroom #{{ chat.chat_id }}</h2>#}
            {#<div class="hidden" id="chatId">{{ chat.chat_id }}</div>#}
            {#<!--detail form start-->#}
            {#{% include 'ActedLegalDocsBundle:ChatRoom:chatRoomEvent.html.twig' %}#}
            {#<!--detail form end-->#}
            {#<!--miscellaneous list start-->#}
            {#<ul class="miscellaneous-list">#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-print" aria-hidden="true"></i>Print</a>#}
                {#</li>#}
            {#</ul>#}
            {#<!--miscellaneous list end-->#}
        {#</div>#}
        {#<article class="info-block border-b clearfix">#}
            {#<div class="col-lg-7 col-md-7 col-sm-7 no-padding">#}
                {#<ul class="block-list">#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt><strong class="bold">Status:</strong></dt>#}
                            {#<dd>#}
                                {#<span class="confirm">Confirmed</span>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt><strong class="bold">Payment:</strong></dt>#}
                            {#<dd></dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Deposit:</dt>#}
                            {#<dd>1,500 GBP received vie secured payment</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Balance:</dt>#}
                            {#<dd>1,500 GBP unpaid</dd>#}
                        {#</dl>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-lg-5 col-md-5 col-sm-5 no-padding">#}
                {#<ul class="block-list alt">#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Quotation</dt>#}
                            {#<dd>#}
                                {#<a  target="_blank" href="{{ quotationLink }}">See</a>#}
                                {#<a href="{{ quotationLink }}" download>Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Invoice</dt>#}
                            {#<dd>#}
                                {#<a href="#">See</a>#}
                                {#<a href="#">Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Contract</dt>#}
                            {#<dd>#}
                                {#<a href="#">See</a>#}
                                {#<a href="#">Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Booking</dt>#}
                            {#<dd>#}
                                {#<a href="#">See</a>#}
                                {#<a href="#">Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</article>#}
        {#<!--twocolumns start-->#}
        {#<div id="twocolumns">#}
            {#<div class="col-1">#}
                {#<ul class="comments-list">#}
                    {#{% for chatMessage in chat.message |reverse %}#}
                        {#{% if chatMessage.sender_user.role_name == "Client" %}#}
                            {#<li>#}
                                {#<a href="#" class="img-holder">#}
                                    {#<img src="/assets/images/noAvatar.png" alt="image description">#}
                                {#</a>#}
                                {#<div class="holder">#}
                                    {#<div class="box">#}
                                        {#{% if chatMessage.files is defined %}#}
                                            {#<p>#}
                                            {#{% for chatFile in chatMessage.files %}#}
                                                {#<a href="{{ chatFile.file_name }}"><img class="chatImage" src="{{ chatFile.file_name }}"></a>#}
                                            {#{% endfor %}#}
                                            {#</p>#}
                                        {#{% endif %}#}
                                        {#{% if chatMessage.message_text is defined %}#}
                                            {#<p>{{ chatMessage.message_text }}</p>#}
                                        {#{% endif %}#}
                                        {#<em class="date">{{ chatMessage.time_from_get }}</em>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</li>#}
                        {#{% else %}#}
                            {#<li class="right active">#}
                                {#<a href="#" class="img-holder">#}
                                {#{% if  chatMessage.sender_user.avatar is defined %}#}
                                    {#<img src="{{ chatMessage.sender_user.avatar }}" alt="image description">#}
                                {#{% else %}#}
                                    {#<img src="/assets/images/noAvatar.png" alt="image description">#}
                                {#{% endif %}#}
                                {#</a>#}
                                {#<div class="holder">#}
                                    {#<div class="box">#}
                                        {#{% if chatMessage.files is defined %}#}
                                            {#<p>#}
                                                {#{% for chatFile in chatMessage.files %}#}
                                                    {#<a href="{{ chatFile.file_name }}"><img class="chatImage" src="{{ chatFile.file_name }}"></a>#}
                                                {#{% endfor %}#}
                                            {#</p>#}
                                        {#{% endif %}#}
                                        {#{% if chatMessage.message_text is defined %}#}
                                            {#<pre>{{ chatMessage.message_text }}</pre>#}
                                        {#{% endif %}#}
                                        {#<em class="date">{{ chatMessage.time_from_get }}</em>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-2">#}
                {#<form class="message-form" action="#">#}
                    {#<textarea class="textarea" maxlength="512" id="chat-room" placeholder="Write your message"></textarea>#}
                    {#<div class="upload-box">#}
                        {#<div class="row">#}
                            {#<input type="file" name="files[]" id="filer_input1" class="chatFileUpload" multiple="multiple">#}
                        {#</div>#}
                        {#<div class="controls">#}
                            {#<div class="button-gradient filled">#}
                                {#<button class="btn" id="sendMsg" type="submit"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate chatMessageSending"></span> Send</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<h3>Technical req</h3>#}
                    {#<div class="frame">#}
                        {#<select data-class="selections-white custom" name="custom" id="custom">#}
                            {#<option value="0">Custom</option>#}
                            {#<option value="1">Custom 1</option>#}
                            {#<option value="2">Custom 2</option>#}
                        {#</select>#}
                    {#</div>#}
                    {#<textarea class="textarea tall" placeholder="Custom"></textarea>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}


    {#</div>#}

{#</main>#}


<script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}