{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}
{# dump(order.performances) #}
<script type="text/javascript">
    window.getOrderId = function(){ return {{ order.id }}};

    window.getAcceptFieldTypes = function () {
        return {
            technicalRequirements: {{ constant("Acted\\LegalDocsBundle\\Entity\\Order::FIELD_TECHNICAL_REQUIREMENTS") }},
            actsExtras: {{ constant("Acted\\LegalDocsBundle\\Entity\\Order::FIELD_ACTS_EXTRAS") }},
            details: {{ constant("Acted\\LegalDocsBundle\\Entity\\Order::FIELD_DETAILS") }},
            timing: {{ constant("Acted\\LegalDocsBundle\\Entity\\Order::FIELD_TIMING") }}
        }
    }

    window.userRole = '{{ user.roles[0] }}';

    window.order = {
        technicalRequirementsAccepted: Boolean({{ order.technicalRequirementsAccepted }}),
        timingAccepted: Boolean({{ order.timingAccepted }}),
        actsExtrasAccepted: Boolean({{ order.actsExtrasAccepted }}),
        detailsAccepted: Boolean({{ order.detailsAccepted }}),
        status: {{ order.status }}
    }

    window.actorDetails = {
        'email': '{{ order.actorDetails.email|default('') }}',
        'phone': '{{ order.actorDetails.phone|default('')  }}',
        'name': '{{ order.actorDetails.name|default('')  }}',
        'person': '{{ order.actorDetails.person|default('')  }}',
    }

    window.clientDetails = {
        'email': '{{ order.clientDetails.email|default('')  }}',
        'phone': '{{ order.clientDetails.phone|default('')  }}',
        'name': '{{ order.clientDetails.name|default('')  }}',
        'person': '{{ order.clientDetails.person|default('')  }}',
    }
</script>
<main class="chat-room">
    {% include '@ActedLegalDocs/Default/confirmBookingModal.html.twig' %}
    <div class="container">
        {% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}

        <div class="wrap">
            <!-- TITLE SECTION -->
            <section>
                <h2 class="main-title">Chatroom #{{ chat.chat_id }}</h2>
                <div class="hidden" id="chatId">{{ chat.chat_id }}</div>

                <!--<div class="tooltip-message warning">
                    <i class="notification-bell" aria-hidden="true"></i>
                    <span>The client has updated the event details, please validate them!</span>
                </div>
                <div class="tooltip-message info">
                    <i class="notification-bell" aria-hidden="true"></i>
                    <span>The client has updated the performance time, please confirm you are fine with this change</span>
                </div>-->
            </section>
            <!-- EVENT INFO SECTION -->
            <section class="section-one">
                <div class="section-info-title">
                    <span></span>
                    <p>Make an offer</p>
                </div>

                {% include "ActedLegalDocsBundle:ChatRoom:chatRoomEvent.html.twig" %}

                <div class="section-info-footer hidden-xs">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="details_agree" name="details_agree" value="" type="checkbox" v-model="detailsAccepted" v-bind:disabled="userRole == 'ROLE_CLIENT' || !editable">
                                <label for="details_agree">I agree with these details</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="extra_provide_acts" name="extra_provide_acts" value="" type="checkbox" v-model="actsExtrasAccepted" v-bind:disabled="userRole == 'ROLE_CLIENT' || !editable">
                                <label for="extra_provide_acts">I can provide the acts & extras selected</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-two">
                <div class="section-info-title">
                    <span></span>
                    <p>Agree on timing and tech requirements</p>
                </div>
                <div class="row clearfix">
                    <div class="tr-container">
                        <div class="col-sm-6 no-pad">
                            <div class="row">
                                <span class="title">Performance time</span>
                                <div class="performance-time">
                                    <span class="info">The performance starts at:</span>
                                    <span class="time">{{ order.performanceStartTime }}</span>
                                </div>
                                <div class="performance-info">
                                    Additional info <i>(This will be included in the booking agreement)</i>
                                </div>
                                <div class="performance-info-desc">
                                    <p>{{ order.event.comments }}</p>
                                </div>
                            </div>
                            <div class="row section-info-footer hidden-sm hidden-md hidden-lg">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-pad">
                                    <div class="custom-checkbox">
                                        <input id="timing_agree_1" name="timing_agree_1" value="" type="checkbox" >
                                        <label for="timing_agree_1">I agree with this timing</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 no-pad">
                            {% include 'ActedLegalDocsBundle:ChatRoom:chat_tech_req.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="section-info-footer hidden-xs">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="timing_agree" name="timing_agree" value="" type="checkbox" v-model="timingAccepted" v-bind:disabled="userRole == 'ROLE_CLIENT' || !editable">
                                <label for="timing_agree">I agree with this timing</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
                            <div class="custom-checkbox">
                                <input id="requirements_agree" name="requirements_agree" value="" type="checkbox" v-model="requirementsAccepted" v-bind:disabled="userRole == 'ROLE_ARTIST' || !editable" >
                                <label for="requirements_agree">I agree to provide these requirements</label>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-three">
                <div class="section-info-title">
                    <div class="row">
                        <div class="col-sm-6 col-xs-7 no-pad">
                            <span></span>
                            <p>Confirm the booking</p>
                        </div>
                        <div class="col-sm-6 col-xs-5 no-pad">
                            <p class="booking-status">Status: <b>Confirmed</b></p>
                        </div>
                    </div>
                </div>
                <div class="row booking-confirm-container">
                    <div class="col-sm-6">
                        <p class="deposit-info"><b>Deposit:</b> {{ order.depositAmount }} GBP received via secured payment <b class="non-refundable-info">(Non - refundable)</b></p>
                        <p class="deposit-info"><b>Balance:</b> {{ order.depositBallance }} GBP unpaid</p>
                    </div>
                    <div class="col-sm-6 booking-confirm-list no-pad">
                        <div class="pull-right">
                            <div class="booking-confirm-item">
                                <div>
                                    Quotation
                                </div>
                                <div>
                                    <a href="{{ quotationLink }}">See</a>
                                </div>
                                <div>
                                    <a href="{{ quotationLink }}">Download</a>
                                </div>
                            </div>
                            <div class="booking-confirm-item">
                                <div>
                                    Invoice
                                </div>
                                <div>
                                    <a href="#">See</a>
                                </div>
                                <div>
                                    <a href="#">Download</a>
                                </div>
                            </div>
                            <div class="booking-confirm-item">
                                <div>
                                    Booking Agreement
                                </div>
                                <div>
                                    <a href="#">See</a>
                                </div>
                                <div>
                                    <a href="#">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% if user.roles[0] == 'ROLE_CLIENT' and order.status < 2 %}

                <div class="row text-center">
                    <div class="controls book-now-btn">
                        <div class="button-gradient filled orange">
                            <button class="btn" type="submit" v-on:click="showConfirmModal" v-bind:disabled="bookingAllowed">Book now</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </section>
            <section class="section-four">
                <div class="section-info-title">
                    <span></span>
                    <p>Contact details ${message}</p>
                </div>
                <div class="row list contacts-info clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="c-name">Name</label>
                        <input type="text" id="c-name" placeholder="Thomas Man" v-model="contactName" value="" v-bind:disabled="!editable" @input="saveDetails">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="c-person">Contact person</label>
                        <input type="text" id="c-person" placeholder="***************" v-model="contactPerson" value="" v-bind:disabled="!editable" @input="saveDetails">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="p-number">Phone Number</label>
                        <input type="text" id="p-number" placeholder="***************" v-model="contactPhone" value="" v-bind:disabled="!editable" @input="saveDetails">
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 no-pad">
                        <label for="e-address">Email address</label>
                        <input type="text" id="e-address" placeholder="***************" v-model="contactEmail" value="" v-bind:disabled="!editable" @input="saveDetails">
                    </div>
                </div>
            </section>
        </div>
        <!--twocolumns start-->
        <div id="twocolumns">
            <div class="col-1">
                <ul class="comments-list">
                    <script>
                        //TODO: mode outside Vue template
                        window.chatMessages = []
                        window.artistId = "{{ chatRoom.artist.artist.id }}"
                    </script>
                    {% for chatMessage in chat.message |reverse %}
                        <script>
                            window.chatMessages.push({
                                msg:"{{ chatMessage.message_text }}",
                                send_date:"{{ chatMessage.time_from_get }}",
                            {%  if chatMessage.sender_user.avatar is defined  %}
                                avatar: "{{ chatMessage.sender_user.avatar }}",
                            {%  elseif %}
                                avatar: "/assets/images/noAvatar.png",
                            {%  endif %}
                                file: [
                                    {% for file in chatMessage.files %}
                                    { path:"{{ file.file_name }}"},
                                    {% endfor %}
                                ]
                            })
                        </script>
                    {% endfor %}

                    <li v-for="message in chatMessages">
                        <a href="#" class="img-holder">
                            <img :src="message.avatar" alt="image description">
                        </a>
                        <div class="holder">
                            <div class="box">
                                <p>
                                    <a :href="file.path" v-for="file in message.file">
                                        <img :src="file.path" class="chatImage" />
                                    </a>
                                </p>
                                <p>${message.msg}</p>
                                <em class="date">${message.send_date}</em>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-2">
                <form class="message-form" action="#">
                    <textarea class="textarea" maxlength="512" placeholder="Write your message" id="chat-room">${sendText}</textarea>
                    <div class="upload-box">
                        <div class="row">
                            <input type="file" class="chatFileUpload" name="files[]" id="filer_input1" multiple="multiple">
                        </div>
                        <div class="controls">
                            <div class="button-gradient filled orange">
                                <button class="btn " id="sendMsg" type="submit" chatMessageSending>Send</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <div class="text-center">
                        <button show-attached-files class="show-attached-files hidden-sm hidden-md hidden-lg">See attached files</button>
                    </div>

                    <div attached-files class="hidden-xs">
                        <div class="document-list">
                            {% for file in files %}
                                <div class="doc-item">
                                    <i class="icon icon-white-cross"></i>
                                    <img src="{{ file.fileName }}">
                                </div>
                            {% endfor %}
                        </div>
                        <!--<div class="document-files">
                            <div class="file-item">
                                <span>Document</span>
                                <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                <span>Event_1.pdf</span>
                            </div>
                            <div class="file-item">
                                <span>Document</span>
                                <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                <span>Event_1.pdf</span>
                            </div>
                            <div class="file-item">
                                <span>Document</span>
                                <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                <span>Event_1.pdf</span>
                            </div>
                            <div class="file-item">
                                <span>Document</span>
                                <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                <span>Event_1.pdf</span>
                            </div>
                            <div class="file-item">
                                <span>Document</span>
                                <i class="icon icon-delete-attached" aria-hidden="true"></i>
                                <span>Event_1.pdf</span>
                            </div>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>











{#<main class="chat-room">#}

    {#<div class="container">#}
        {#{% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}#}

        {#<div class="wrap">#}
            {#<a class="btn-back" href="{{ path('all_messages_user') }}">Back to messages</a>#}
            {#<h2 class="main-title">Chatroom #{{ chat.chat_id }}</h2>#}
            {#<div class="hidden" id="chatId">{{ chat.chat_id }}</div>#}
            {#<!--detail form start-->#}
            {#{% include 'ActedLegalDocsBundle:ChatRoom:chatRoomEvent.html.twig' %}#}
            {#<!--detail form end-->#}
            {#<!--miscellaneous list start-->#}
            {#<ul class="miscellaneous-list">#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i>Share</a>#}
                {#</li>#}
                {#<li>#}
                    {#<a href="#"><i class="fa fa-print" aria-hidden="true"></i>Print</a>#}
                {#</li>#}
            {#</ul>#}
            {#<!--miscellaneous list end-->#}
        {#</div>#}
        {#<article class="info-block border-b clearfix">#}
            {#<div class="col-lg-7 col-md-7 col-sm-7 no-padding">#}
                {#<ul class="block-list">#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt><strong class="bold">Status:</strong></dt>#}
                            {#<dd>#}
                                {#<span class="confirm">Confirmed</span>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt><strong class="bold">Payment:</strong></dt>#}
                            {#<dd></dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Deposit:</dt>#}
                            {#<dd>1,500 GBP received vie secured payment</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Balance:</dt>#}
                            {#<dd>1,500 GBP unpaid</dd>#}
                        {#</dl>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-lg-5 col-md-5 col-sm-5 no-padding">#}
                {#<ul class="block-list alt">#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Quotation</dt>#}
                            {#<dd>#}
                                {#<a  target="_blank" href="{{ quotationLink }}">See</a>#}
                                {#<a href="{{ quotationLink }}" download>Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Invoice</dt>#}
                            {#<dd>#}
                                {#<a href="#">See</a>#}
                                {#<a href="#">Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Contract</dt>#}
                            {#<dd>#}
                                {#<a href="#">See</a>#}
                                {#<a href="#">Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                    {#<li>#}
                        {#<dl>#}
                            {#<dt>Booking</dt>#}
                            {#<dd>#}
                                {#<a href="#">See</a>#}
                                {#<a href="#">Download</a>#}
                            {#</dd>#}
                        {#</dl>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</article>#}
        {#<!--twocolumns start-->#}
        {#<div id="twocolumns">#}
            {#<div class="col-1">#}
                {#<ul class="comments-list">#}
                    {#{% for chatMessage in chat.message |reverse %}#}
                        {#{% if chatMessage.sender_user.role_name == "Client" %}#}
                            {#<li>#}
                                {#<a href="#" class="img-holder">#}
                                    {#<img src="/assets/images/noAvatar.png" alt="image description">#}
                                {#</a>#}
                                {#<div class="holder">#}
                                    {#<div class="box">#}
                                        {#{% if chatMessage.files is defined %}#}
                                            {#<p>#}
                                            {#{% for chatFile in chatMessage.files %}#}
                                                {#<a href="{{ chatFile.file_name }}"><img class="chatImage" src="{{ chatFile.file_name }}"></a>#}
                                            {#{% endfor %}#}
                                            {#</p>#}
                                        {#{% endif %}#}
                                        {#{% if chatMessage.message_text is defined %}#}
                                            {#<p>{{ chatMessage.message_text }}</p>#}
                                        {#{% endif %}#}
                                        {#<em class="date">{{ chatMessage.time_from_get }}</em>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</li>#}
                        {#{% else %}#}
                            {#<li class="right active">#}
                                {#<a href="#" class="img-holder">#}
                                {#{% if  chatMessage.sender_user.avatar is defined %}#}
                                    {#<img src="{{ chatMessage.sender_user.avatar }}" alt="image description">#}
                                {#{% else %}#}
                                    {#<img src="/assets/images/noAvatar.png" alt="image description">#}
                                {#{% endif %}#}
                                {#</a>#}
                                {#<div class="holder">#}
                                    {#<div class="box">#}
                                        {#{% if chatMessage.files is defined %}#}
                                            {#<p>#}
                                                {#{% for chatFile in chatMessage.files %}#}
                                                    {#<a href="{{ chatFile.file_name }}"><img class="chatImage" src="{{ chatFile.file_name }}"></a>#}
                                                {#{% endfor %}#}
                                            {#</p>#}
                                        {#{% endif %}#}
                                        {#{% if chatMessage.message_text is defined %}#}
                                            {#<pre>{{ chatMessage.message_text }}</pre>#}
                                        {#{% endif %}#}
                                        {#<em class="date">{{ chatMessage.time_from_get }}</em>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</li>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</ul>#}
            {#</div>#}
            {#<div class="col-2">#}
                {#<form class="message-form" action="#">#}
                    {#<textarea class="textarea" maxlength="512" id="chat-room" placeholder="Write your message"></textarea>#}
                    {#<div class="upload-box">#}
                        {#<div class="row">#}
                            {#<input type="file" name="files[]" id="filer_input1" class="chatFileUpload" multiple="multiple">#}
                        {#</div>#}
                        {#<div class="controls">#}
                            {#<div class="button-gradient filled">#}
                                {#<button class="btn" id="sendMsg" type="submit"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate chatMessageSending"></span> Send</button>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<h3>Technical req</h3>#}
                    {#<div class="frame">#}
                        {#<select data-class="selections-white custom" name="custom" id="custom">#}
                            {#<option value="0">Custom</option>#}
                            {#<option value="1">Custom 1</option>#}
                            {#<option value="2">Custom 2</option>#}
                        {#</select>#}
                    {#</div>#}
                    {#<textarea class="textarea tall" placeholder="Custom"></textarea>#}
                {#</form>#}
            {#</div>#}
        {#</div>#}


    {#</div>#}

{#</main>#}


<script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/gos_web_socket_client.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/goswebsocket/js/vendor/autobahn.min.js') }}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>



{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}