{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}
<main class="enquiries">

    <div class="container">
        <!-- THIS MENU VISIBLE ONLY ON DESCTIOP SCREEN-->
        {% include 'ActedLegalDocsBundle:ChatRoom:dashboardmenu.html.twig' %}

        <div class="enquiries-wrap">
            {% for order in orders|reverse %}
                {#{% if order.last_message %}#}
                {% if order.status != 333 %}{# 333 is temp for rejected status#}
            <article class="enq-block clearfix" id="{{ order.id }}">
                <span class="received-time">
                     <i class="enq-icon icon-timing"></i> Received {{ order.timeFromAdd}} ago
                </span>

                <div class="col-lg-3 no-pad">

                    <ul class="act-request-data ul-reset">
                        <li><i class="enq-icon icon-date"></i> Date: <span class="value">{{ order.event.startingDate | date("m/d/Y") }}</span></li>
                        <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">
                                {% if order.event.timing is defined %}
                                {{ order.event.timing }}
                                {% endif %}
                            </span></li>
                        <li><i class="enq-icon icon-location"></i> Location: <span class="value">
                            {% if order.event.city.name is defined %}
                                {{ order.event.city.name }}
                            {% endif %}
                            </span></li>
                        <li><i class="enq-icon icon-event"></i> Event: <span class="value">{{ order.event.title }}</span></li>
                        <li><i class="enq-icon icon-client"></i> Client: <span class="value">{{ order.event.user.firstname }}</span>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-9 act-request">

                    <p class="act-request-title">
                        Act request: <span class="bold-title">
                            {% for orderItem in order.items %}
                                {{ orderItem.data['title'] }},

                            {% endfor %}
                        </span>
                    </p>

                    {% if order.event.published_request is defined %}
                        <p {% if not order.event.published_request %} style="display: none;" {% endif %}class="act-request-quotation-label">
                            Quote sent
                        </p>
                    {% endif %}

                    <p class="act-request-message" data-max-chars-desktop="150" data-max-chars-mobile="70">
                        <span class="title">Message from client:</span>

                        <span class="text">
                            {%  if order.offer.comments is defined %}
                                {{ order.offer.comments }}
                            {% else %}
                                There's no message from client.
                            {% endif %}
                        </span>
                        <a class="show-more-btn" href="#">+more</a>
                    </p>

                    <div class="controls">
                        {% if order.status > 0%}
                            <div class="button-gradient filled orange">
                                <button type="button" class="btn register quotationSendbtn" order-id="{{ order.id }}">Edit Quotation</button>
                            </div>
                        {% else %}
                            <div class="button-gradient filled orange">
                                <button type="button" class="btn register quotationSendbtn" order-id="{{ order.id }}">Send Quotation</button>
                            </div>
                        {% endif %}

                        <div class="button-gradient filled blue">
                            <a href="/dashboard/chat/{{ order.chat.id }}" class="btn register">Send Message</a>
                        </div>

                        <div class="button-gradient orange">
                            <button type="button" order-id="{{ order.id }}" class="btn register rejectRequest">Not available</button>
                        </div>
                    </div>

                </div>
            </article>
            {% endif %}
            {% endfor %}

            {% for order in orders|reverse %}
                {#{% if order.last_message %}#}
                {% if order.status == 333 %}
                    <article class="enq-block clearfix" id="{{ order.id }}">
                <span class="received-time">
                     <i class="enq-icon icon-timing"></i> Received {{ order.timeFromAdd }} ago
                </span>

                        <div class="col-lg-3 no-pad">

                            <ul class="act-request-data ul-reset">
                                <li><i class="enq-icon icon-date"></i> Date: <span class="value">{{ order.event.starting_date }}</span></li>
                                <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">
                                {% if order.event.timing is defined %}
                                    {{ order.event.timing }}
                                {% endif %}
                            </span></li>
                                <li><i class="enq-icon icon-location"></i> Location: <span class="value">
                            {% if order.event.city.name is defined %}
                                {{ order.event.city.name }}
                            {% endif %}
                            </span></li>
                                <li><i class="enq-icon icon-event"></i> Event: <span class="value">{{ order.event.title }}</span></li>
                                <li><i class="enq-icon icon-client"></i> Client: <span class="value">{{ order.event.user.firstname }}</span>
                                </li>
                            </ul>

                        </div>
                        <div class="col-lg-9 act-request">

                            <p class="act-request-title">
                                Act request: <span class="bold-title">
                            {% for item in order.items %}
                                {{ item.data['title'] }},
                            {% endfor %}
                        </span>
                                <!--<span class="see-more">(<a href="#">See more</a>)</span>-->
                            </p>

                            <p class="act-request-message" data-max-chars-desktop="150" data-max-chars-mobile="70">
                                <span class="title">Message from client:</span>

                        <span class="text">
                            {%  if order.offer.comments is defined %}
                                {{ order.offer.comments }}
                            {% else %}
                                There's no message from client.
                            {% endif %}
                        </span>
                                <a class="show-more-btn" href="#">+more</a>
                            </p>

                            <div class="controls">
                                <div class="button-gradient filled orange">
                                    <button type="button" class="btn register quotationSendbtn" disabled>Send Quotation</button>
                                </div>

                                <div class="button-gradient filled blue">
                                    <a href="/dashboard/chat/{{ order.chat_id }}" class="btn register">Send Message</a>
                                </div>

                                <div class="button-gradient orange">
                                    <button type="button" class="btn register rejectRequest" disabled>Rejected</button>
                                </div>
                            </div>

                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </div>

    </div>

</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}