{% include 'ActedLegalDocsBundle:Default:header.html.twig' %}
<main class="enquiries">

    <div class="container">
        <!-- THIS MENU VISIBLE ONLY ON DESCTIOP SCREEN-->
        <ul class="categories-menu">
            <li class="menu-block"><a href="/messages">Messages</a></li>
            <li class="menu-block"><a href="/enquiries" class="active">Enquiries</a></li>
            <li class="menu-block"><a href="/bookings">Bookings</a></li>
            <li class="menu-block"><a href="/agenda">Agenda</a></li>
            <li class="menu-block"><a href="/prices">Prices</a></li>
            <li class="menu-block"><a href="/payment">Payment & Accounts</a></li>
            <li class="menu-block"><a href="/reports">Reports</a></li>
            <li class="menu-block"><a href="/feedbacks">Feedbacks</a></li>
        </ul>

        <!-- THIS DROPDOWN VISIBLE ONLY ON SM SCREEN-->
        <div class="dropdown categories-dropdown hidden-lg hidden-md hidden-sm visible-xs">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Enquiries
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li class="menu-block"><a href="/messages" class="active">Messages</a></li>
                <li class="menu-block"><a href="/bookings">Bookings</a></li>
                <li class="menu-block"><a href="/agenda">Agenda</a></li>
                <li class="menu-block"><a href="/prices">Prices</a></li>
                <li class="menu-block"><a href="/payment">Payment & Accounts</a></li>
                <li class="menu-block"><a href="/reports">Reports</a></li>
                <li class="menu-block"><a href="/feedbacks">Feedbacks</a></li>
            </ul>
        </div>

        <div class="enquiries-wrap">
            {% for chat in chats %}
{{ dump(chat) }}
            <article class="enq-block clearfix">
                <span class="received-time">
                     <i class="enq-icon icon-timing"></i> Received 5 hours ago
                </span>

                <div class="col-lg-3 no-pad">

                    <ul class="act-request-data ul-reset">
                        <li><i class="enq-icon icon-date"></i> Date: <span class="value">{{ chat.event.starting_date }}</span></li>
                        <li><i class="enq-icon icon-timing"></i> Timing: <span class="value">{{ chat.event.timing }}</span></li>
                        <li><i class="enq-icon icon-location"></i> Location: <span class="value">{{ chat.event.city.name }}</span></li>
                        <li><i class="enq-icon icon-event"></i> Event: <span class="value">{{ chat.event.title }}</span></li>
                        <li><i class="enq-icon icon-client"></i> Client: <span class="value">{{ chat.event.user.firstname }}</span>
                        </li>
                    </ul>

                </div>
                <div class="col-lg-9 act-request">

                    <p class="act-request-title">
                        Act request: <span class="bold-title">5-piece Jazz band, Acrobats, Sports Act</span>
                        <span class="see-more">(<a href="#">See more</a>)</span>
                    </p>

                    <p class="act-request-message" data-max-chars-desktop="150" data-max-chars-mobile="70">
                        <span class="title">Message from client:</span>
                        <span class="text">{{ chat.last_message.message_text }}</span>
                        <a class="show-more-btn" href="#">+more</a>
                    </p>

                    <div class="controls">
                        <div class="button-gradient filled">
                            <button type="button" class="btn register">Send Quotation</button>
                        </div>

                        <div class="button-gradient filled blue">
                            <button type="button" class="btn register">Send Message</button>
                        </div>

                        <div class="button-gradient">
                            <button type="button" class="btn register">Not available</button>
                        </div>
                    </div>

                </div>
            </article>
            {% endfor %}
        </div>

    </div>

</main>

{% include 'ActedLegalDocsBundle:Default:footer.html.twig' %}