<section id="media" class="profile-block media">
    <div class="title"><span>Media</span></div>

    <ul>
        <li>
            <a class="tab active" data-target="#section-photo" href="#">
                Photo
                <div class="badge">{{ artist.user.profile.photoList|length }}</div>
                <div class="circle"></div>
            </a>
        </li>
        <li>
            <a class="tab" data-target="#section-video" href="#">
                Video
                <div class="badge">{{ artist.user.profile.videoList|length }}</div>
                <div class="circle"></div>
            </a>
        </li>
        <li>
            <a class="tab" data-target="#section-audio" href="#">
                Audio
                <div class="badge">{{ artist.user.profile.audioList|length }}</div>
                <div class="circle"></div>
            </a>
        </li>
    </ul>

    <div class="row">

        <section class="media-content wrapper" id="section-photo">
            {% if is_granted('EDIT', artist) %}
                <button id="profileAddNewMedia" type="button" class="btn btn-success" data-toggle="modal" data-target="#addImageModal"><i class="fa fa-plus"></i> Add new image</button>
            {% endif %}
            <div class="slider-controls">
                <span id="prevSlide"></span>
                <span id="nextSlide"></span>
            </div>

            <ul class="bxslider">
                {% for photo in artist.user.profile.photoList %}
                    <li id="imageSlider{{ photo.id }}"><img src="{{ photo.link }}" alt="{{ photo.name }}"></li>
                {% endfor %}
            </ul>

            <div id="photo-pager" class="bx-pager">
                {% for photo in artist.user.profile.photoList %}
                    <div class="scale-thumb thumb{{ loop.index }}">
                        {% if is_granted('EDIT', artist) %}
                        <span class="removeNewImage deleteMedia" id="{{ photo.id }}"><i class="fa fa-times-circle-o"></i></span>
                        {% endif %}
                        <a data-slide-index="{{ loop.index0 }}" href=""><img src="{{ photo.link }}"/></a>
                    </div>
                {% endfor %}
            </div>
        </section>


        <section class="media-content wrapper" id="section-video" >
            {% if is_granted('EDIT', artist) %}
                <div class="col-md-6 add-video-block">
                <form class="videoAddForm">
                    <input type="text" class="form-control videoAdd">
                </form>
                    <div id="addNewInputVideo"><i class="fa fa-plus"></i></div>
                    <button type="submit" id="sendNewVideo" class="btn btn-default">Submit</button>
                </div>
                <div class="clearfix"></div>
            {% endif %}
            <div class="slider-controls">
                <span id="nextVideoSlide"></span>
                <span id="prevVideoSlide"></span>
            </div>

            <ul class="bxVideoSlider">
                {% for video in artist.user.profile.videoList %}
                    <li><iframe src="{{ video.link }}" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>
                {% endfor %}
            </ul>

            <div id="video-pager" class="bx-pager">
                {% for video in artist.user.profile.videoList %}
                    <div class="scale-thumb thumb{{ loop.index }}">
                        {% if is_granted('EDIT', artist) %}
                        <span class="removeNewImage deleteMedia" id="{{ video.id }}"><i class="fa fa-times-circle-o"></i></span>
                        {% endif %}
                        <a data-slide-index="{{ loop.index0 }}" href=""><img id="{{ video.videoId }}" src="{{ video.thumbnail }}"/></a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="media-content wrapper" id="section-audio" >
            {% if is_granted('EDIT', artist) %}
                <div class="col-md-6 add-audio-block">
                    <form class="audioAddForm">
                        <input type="text" class="form-control audioAdd">
                    </form>
                    <div id="addNewInputAudio"><i class="fa fa-plus"></i></div>
                    <button type="submit" id="sendNewAudio" class="btn btn-default">Submit</button>
                </div>
                <div class="clearfix"></div>
            {% endif %}
            {% for audio in artist.user.profile.audioList %}
                <h2>{{ audio.name }}</h2>
                <audio controls="true" name="media"><source src="{{ audio.link }}" type="audio/mpeg"></audio>
            {% endfor %}
        </section>

    </div>


</section>