
            {% for performance in performances|reverse %}

            {% if is_granted('EDIT', artist) %}
                <article class="item clearfix">
                    <h2><span class="perfomanceTitleEdiatable" data-type="textarea" data-pk="{{ performance.id }}" data-title="">{{ performance.title }} </span>
                        <span class="price">Price: from {{ performance.offerMinPrice|number_format(2, '.', ',') }} EUR</span>
                        <div class="deleteOffer"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></div>
                        <div class="editOffer"><button type="button" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></button></div>
                    </h2>
                    <span class="performanceId hidden">{{ performance.id }}</span>
                    {% for mediaOf in performance.media[0:1] %}
                        <div class="imagePerformanceChange" id="image-performance-change1">
                            <span class="hidden mediaId">{{ mediaOf.id }}</span>
                            <div class="changeImageContiner"></div>
                            <div class="actions">
                                <a class="btn btn-file">
                                    <input type="file" id="uploadImg" value="Choose a file" accept="image/*" />
                                </a>
                                <button class="upload-resultBg btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                    {% endfor %}

                    <div class="video">
                        {% for mediaOf in performance.media[1:2] %}
                            <div class="imagePerformanceChange" id="image-performance-change2">
                                <span class="hidden mediaId">{{ mediaOf.id }}</span>
                                <div class="offerMediaType">
                                    <button class="btn btn-primary image" data-toggle="modal" data-target="#addImageModal">Image</button>
                                    <button class="btn btn-primary video">Video</button>
                                </div>
                                <div class="performanceVideoAdd">
                                    <form class="videoAddForm">
                                        <span class="videoAddMessage">Added link should be from "youtube.com" or "vimeo.com"</span>
                                        <input type="text" class="form-control videoPerformanceAdd">
                                    </form>
                                    <button type="submit" id="AddPerformanceVideo" class="btn btn-default">Submit</button>
                                </div>

                                <div class="imagePerfinput">
                                    <div class="changeImageContiner"></div>
                                    <div class="actions">
                                        <a class="btn btn-file">
                                            <input type="file" class="uploadImg" value="Choose a file" accept="image/*" />
                                        </a>
                                        <button class="upload-resultBg btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                    </div>
                                </div>

                            </div>
                            <div class="performanceVideo">
                            </div>


                            {% if mediaOf.mediaType == "video" %}
                                <div class="performanceVideo">
                                <iframe src="{{ mediaOf.link }}" width="395" height="274" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                </div>
                                {% else %}
                                <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                            {% endif %}

                        {% endfor %}
                    </div>


                    <div class="info">
                        <p class="perfomanceInfoEdiatable" data-type="textarea" data-pk="{{ performance.id }}" data-title="">
                            {{ performance.techRequirement }}
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>


            {% else %}

                <article class="item clearfix">
                    <h2>{{ performance.title }} <span class="price">Price: from {{ performance.offerMinPrice|number_format(2, '.', ',') }} EUR</span></h2>

                    {% for mediaOf in performance.media[0:1] %}
                        <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                    {% endfor %}

                    <div class="video">
                        {#{% if performance.media[1:2]%}
                            gfhdsfdgf
                        {% endif %}
                        {{ dump(performance.media[1:2]) }}#}

                        {% for mediaOf in performance.media[1:2] %}

                            {% if mediaOf.mediaType == "video" %}
                                <iframe src="{{ mediaOf.link }}" width="395" height="274" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            {% else %}
                                <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                            {% endif %}
                        <!--<span class="glyphicon glyphicon-play"></span>

                            <div class="name">
                                <div class="name-text">{{ mediaOf.name }}</div>
                            </div>-->
                        {% endfor %}
                    </div>


                    <div class="info">
                        <p>
                            {{ performance.techRequirement }}
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>

            {% endif %}

        {% endfor %}

            {% if is_granted('EDIT', artist) %}

                <article class="item clearfix addPerfomanceCreate emptyPerformance">
                    <h2><span class="perfomanceTitleEdiatable" data-type="textarea" data-pk="" data-title="">Your performance title</span>
                        <span class="price">Price: from EUR</span>
                        <div class="deleteOffer"><button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button></div>
                    </h2>
                    <span class="performanceId hidden"></span>

                    <div class="imagePerformanceChange" id="image-performance-change1">
                        <span class="hidden mediaId"></span>
                        <div class="changeImageContiner"></div>
                        <div class="actions">
                            <a class="btn btn-file">
                                <input type="file" id="uploadImg" value="Choose a file" accept="image/*" />
                            </a>
                            <button class="upload-resultBg btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                        </div>
                    </div>
                    <img class="preview" src="" alt="Preview">


                    <div class="video">

                        <div class="imagePerformanceChange" id="image-performance-change2">
                            <span class="hidden mediaId"></span>
                            <div class="offerMediaType">
                                <button class="btn btn-primary image" data-toggle="modal" data-target="#addImageModal">Image</button>
                                <button class="btn btn-primary video">Video</button>
                            </div>
                            <div class="performanceVideoAdd">
                                <form class="videoAddForm">
                                    <input type="text" class="form-control videoPerformanceAdd">
                                </form>
                                <button type="submit" id="AddPerformanceVideo" class="btn btn-default">Submit</button>
                            </div>

                            <div class="imagePerfinput">
                                <div class="changeImageContiner"></div>
                                <div class="actions">
                                    <a class="btn btn-file">
                                        <input type="file" id="uploadImg" value="Choose a file" accept="image/*" />
                                    </a>
                                    <button class="upload-resultBg btn btn-success"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
                                </div>
                            </div>

                        </div>
                        <div class="performanceVideo">
                        </div>

                    </div>


                    <div class="info">
                        <p class="perfomanceInfoEdiatable" data-type="textarea" data-pk="" data-title="">
                            Your info text
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>

                <div id="addNewPerformance">
                    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add new performance</button>
                </div>
            {% endif %}

        <div class="navigation">
            {{ knp_pagination_render(performances) }}
        </div>

        <button class="show-more-info">
            Show More
        </button>
