
            {% for performance in performances|reverse if performance.status == "published" %}

                <article class="item clearfix">
                    <header class="heading">
                        <h2>{{ performance.title }} </h2>
                        {% if performance.priceOnRequest %}
                            <div class="price pull-right">Price on request</div>
                        {% else %}
                            <div class="price pull-right">Price: from {{ performance.minPrice|number_format(2, '.', ',') }} EUR</div> <!--<input class="set-price" type="text" placeholder="0,00">-->
                        {% endif %}
                    </header>

                    <div class="row">
                        <div class="holder">
                            {% for mediaOf in performance.media[0:2] if mediaOf.position == 1 %}
                                <img class="preview" src="{{ asset(mediaOf.link)|imagine_filter('medium')}}" alt="Preview">
                            {% else %}
                                <img class="preview" src="/assets/images/media-no-image.gif" alt="Preview">
                            {% endfor %}
                        </div>

                        <div class="holder video">
                            {% for mediaOf in performance.media[0:2] if mediaOf.position == 2 %}
                                {% if mediaOf.mediaType == "video" %}
                                    <iframe id="{{ mediaOf.id }}" src="{{ mediaOf.link }}" width="100%" height="auto" frameborder="0" allowscriptaccess="always" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                {% else %}
                                    <img class="preview" src="{{ asset(mediaOf.link)|imagine_filter('medium')}}" alt="Preview">
                                {% endif %}
                                {% else %}
                                <img class="preview" src="/assets/images/media-no-image.gif" alt="Preview">
                            {% endfor %}
                        </div>

                        <div class="info">
                            <div class="box">
                                <pre>
                                    {{ performance.techRequirement }}
                                </pre>
                            </div>

                            <div class="controls">
                                <div class="button-gradient follow">
                                    <button class="btn requestQuotePerformance" value="{{ performance.id }}">REQUEST FREE QUOTE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>


        {% endfor %}


        <div class="navigation">
            {{ knp_pagination_render(performances) }}
        </div>

        <button class="show-more-info">
            Show More
        </button>
