
            {% for performance in performances|reverse %}

            {% if user is defined and user %}
                <article class="item clearfix">
                    <h2><span class="perfomanceTitleEdiatable" data-type="textarea" data-pk="{{ performance.id }}" data-title="">{{ performance.title }} </span>
                        <span class="price">Price: from {{ performance.offerMinPrice|number_format(2, '.', ',') }} EUR</span>
                        <div class="deleteOffer"><button type="button" class="btn btn-danger fa fa-trash"></button></div>
                        <div class="editOffer"><button type="button" class="btn btn-info fa fa-pencil-square-o"></button></div>
                    </h2>
                    <span class="performanceId hidden">{{ performance.id }}</span>
                    {% for mediaOf in performance.media[0:1] %}
                        <form action="/media/{{ mediaOf.id }}/edit" method="post" class="dropzone imagePerformanceChange">
                        </form>
                        <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                    {% endfor %}

                    <div class="video">
                        {% for mediaOf in performance.media[1:2] %}
                            <form action="/media/{{ mediaOf.id }}/edit" method="post" class="dropzone imagePerformanceChange">
                            </form>
                            <img src="{{ mediaOf.link }}" alt="">
                            <span class="glyphicon glyphicon-play"></span>

                            <div class="name">
                                <div class="name-text">{{ mediaOf.name }}</div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="info">
                        <p class="perfomanceInfoEdiatable" data-type="textarea" data-pk="{{ performance.id }}" data-title="">
                            {{ performance.techRequirement }}
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>


            {% else %}

                <article class="item clearfix">
                    <h2>{{ performance.title }} <span class="price">Price: from {{ performance.offerMinPrice|number_format(2, '.', ',') }} EUR</span></h2>

                    {% for mediaOf in performance.media[0:1] %}
                        <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                    {% endfor %}

                    <div class="video">
                        {% for mediaOf in performance.media[1:2] %}

                            <img src="{{ mediaOf.link }}" alt="">
                            <span class="glyphicon glyphicon-play"></span>

                            <div class="name">
                                <div class="name-text">{{ mediaOf.name }}</div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="info">
                        <p>
                            {{ performance.techRequirement }}
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>

            {% endif %}

        {% endfor %}

            {% if user is defined and user %}

                <article class="item clearfix addPerfomanceCreate emptyPerformance">
                    <h2><span class="perfomanceTitleEdiatable" data-type="textarea" data-pk="" data-title="">Your performance title</span>
                        <span class="price">Price: from EUR</span>
                        <div class="deleteOffer"><button type="button" class="btn btn-danger fa fa-trash"></button></div>
                    </h2>
                    <span class="performanceId hidden"></span>

                    <form action="/media//edit" method="post" class="dropzone imagePerformanceChange">
                    </form>
                    <img class="preview" src="" alt="Preview">


                    <div class="video">

                        <form action="/media//edit" method="post" class="dropzone imagePerformanceChange">
                        </form>
                        <img src="" alt="">
                        <span class="glyphicon glyphicon-play"></span>

                        <div class="name">
                            <div class="name-text"></div>
                        </div>

                    </div>


                    <div class="info">
                        <p class="perfomanceInfoEdiatable" data-type="textarea" data-pk="" data-title="">
                            Your info text
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>

                <div id="addNewPerformance">
                    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i> Add new performance</button>
                </div>
            {% endif %}

        <div class="navigation">
            {{ knp_pagination_render(performances) }}
        </div>

        <button class="show-more-info">
            Show More
        </button>
