        {% for offer in offers %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <article class="item clearfix">
                    <h2>{{ offer.title|slice(0, 20) ~ '...' }} <span class="price">Price: from {{ offer.price }} EUR</span></h2>

                    {% for mediaOf in offer.performance.media[0:1] %}
                        <img class="preview" src="{{ mediaOf.link }}" alt="Preview">
                    {% endfor %}

                    <div class="video">
                        {% for mediaOf in offer.performance.media[1:2] %}

                            <img src="{{ mediaOf.link }}" alt="">
                            <span class="glyphicon glyphicon-play"></span>

                            <div class="name">
                                <div class="name-text">{{ mediaOf.name }}</div>
                            </div>
                        {% endfor %}
                    </div>


                    <div class="info">
                        <p>
                            {{ offer.comments }}
                        </p>

                        <div class="controls">
                            <div class="button-gradient follow">
                                <button class="btn">REQUEST FREE QUOTE</button>
                            </div>

                            <p>
                                <a href="#">Technical requirements</a>
                            </p>
                        </div>
                    </div>
                </article>
            </tr>
        {% endfor %}
        <div class="navigation">
            {{ knp_pagination_render(offers) }}
        </div>

        <button class="show-more-info">
            Show More
        </button>
