
{% if is_granted('EDIT', artist) %}
    <div class="header-background" style="background-image: url({{ artist.user.background }})">
        <span id="bgImageSrc" class="hidden">{{ artist.user.background }}</span>
        <div class="background-stripe"></div>
        <div id="editBackground"><a href="#" data-toggle="modal" data-target="#changeBgModal"><i class="fa fa-pencil-square-o"></i></a></div>
    </div>
{% else %}
    <div class="header-background" style="background-image: url({{ artist.user.background }})">
        <div class="background-stripe"></div>
    </div>
{% endif %}
    <span id="slug" class="hidden">{{ artist.slug }}</span>
    <section class="profile-info container">
        {% if is_granted('EDIT', artist) %}
            <div class="avatarEditable">
               <img class="avatar" src="{{ artist.user.avatar }}" alt="Avatar">
               <div id="editAvatar"><a href="#" data-toggle="modal" data-target="#changeImageModal"><i class="fa fa-pencil-square-o"></i></a></div>
            </div>
        {% else %}
        <img class="avatar" src="{{ artist.user.avatar }}" alt="Avatar">
        {% endif %}
        <div class="info">
            {#{% if user %}
                <div href="#" id="username" class="username" data-type="text" data-pk="{{ artist.id }}" data-title="">{{ artist.name }}</div>
                <div id="editUsername" class="editText"><a href="#"><i class="fa fa-pencil-square-o"></i></a></div>
            {% else %}
                <div class="username">{{ artist.name }}</div>
            {% endif %}#}
            <div class="username">{{ artist.name }}</div>
            <div class="specializations">
                <ul>
                    {% for category in artist.user.profile.categories %}
                    <li><a href="#">{{ category.title }}</a>
                        <div class="divider"></div>
                    </li>
                    {% endfor %}
                    <li><a href="#">See All <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                    </li>
                </ul>
                {% if is_granted('EDIT', artist) %}
                    <a href="#" data-toggle="modal" id="editCategories" data-target="#categotiesModal"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}
            </div>

            <div class="from">From {{ artist.city.name }}</div>

            <div class="price">
                <img src="{{ asset('assets/images/price_ic.png') }}" alt="Price">
                ${{ artist.user.profile.minPrice|number_format(2, '.', ',') }} - ${{ artist.user.profile.maxPrice|number_format(2, '.', ',') }} per event
            </div>

            <div class="user-rating">
                <div class="stars">
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                </div>

                <div class="rating">{{ artist.rating }}/5.0 ({{ artist.ratings|length }} Votes)</div>
                <span id="raitingVal" class="hidden">{{ artist.rating }}</span>
            </div>
        </div>
        <div class="controls">
            <div class="button-gradient follow">
                <button class="btn">Follow me</button>
            </div>

            <div class="button-gradient filled">
                <button class="btn">REQUEST FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="menu">
        <div class="container">
            <ul>
                <li>
                    <div class="menu-item">
                        <a class="anchor-scroll" href="#biography">
                            <div class="hover-bg">Bio</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="menu-item">
                        <a class="anchor-scroll" href="#feedbacks">
                            <div class="hover-bg">
                                Feedbacks
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="menu-item">
                        <a class="anchor-scroll" href="#media">
                            <div class="hover-bg">
                                Media
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>

<div class="modal registration-modal fade" id="categotiesModal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-header" style="display: block">
                <h4 class="modal-title" id="modal-title">Categories</h4>
            </div>
            <div class="modal-body">
                <div class="row stage">
                    <div class="row sub-stage" id="artistBlock">

                        {% include 'ActedLegalDocsBundle:Default:categories.html.twig' %}

                        <div class="buttons">
                            <div class="vertical-divder"></div>
                            <button class="btn"></button>
                            <button id="saveCategories" class="btn">Save</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
