
{% if user %}
    <div class="header-background" style="background-image: url({{ artist.user.background }})">
        <span id="bgImageSrc" class="hidden">{{ artist.user.background }}</span>
        <div class="background-stripe"></div>
        <div id="editBackground"><a href="#" data-toggle="modal" data-target="#changeBgModal"><i class="fa fa-pencil-square-o"></i></a></div>
    </div>
{% else %}
    <div class="header-background" style="background-image: url({{ artist.user.background }})">
        <div class="background-stripe"></div>
    </div>
{% endif %}
    <span id="slug" class="hidden">{{ artist.slug }}</span>
    <section class="profile-info container">
        {% if user %}
            <div class="avatarEditable">
               <img class="avatar" src="{{ artist.user.avatar }}" alt="Avatar">
               <div id="editAvatar"><a href="#" data-toggle="modal" data-target="#changeImageModal"><i class="fa fa-pencil-square-o"></i></a></div>
            </div>
        {% else %}
        <img class="avatar" src="{{ artist.user.avatar }}" alt="Avatar">
        {% endif %}
        <div class="info">
            {% if user %}
                <div href="#" id="username" class="username" data-type="text" data-pk="{{ artist.id }}" data-title="">{{ artist.name }}</div>
                <div id="editUsername" class="editText"><i class="fa fa-pencil-square-o"></i></div>
            {% else %}
                <div class="username">{{ artist.name }}</div>
            {% endif %}
            <div class="specializations">
                <ul>
                    <li><a href="#">Jazz Vocalist</a>
                        <div class="divider"></div>
                    </li>
                    <li><a href="#">Jazz Pianist</a>
                        <div class="divider"></div>
                    </li>
                    <li><a href="#">Vocalist</a>
                        <div class="divider"></div>
                    </li>
                    <li><a href="#">Song Writer</a>
                        <div class="divider"></div>
                    </li>
                    <li><a href="#">See All <span class="glyphicon glyphicon-play" aria-hidden="true"></span></a>
                    </li>
                </ul>
            </div>

            <div class="from">From {{ artist.city.name }}</div>

            <div class="price">
                <img src="{{ asset('assets/images/price_ic.png') }}" alt="Price">
                ${{ artist.user.profile.minPrice|number_format(2, '.', ',') }} - ${{ artist.user.profile.maxPrice|number_format(2, '.', ',') }} per event
            </div>

            <div class="user-rating">
                <div class="stars">
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                    <div class="star">
                        <div class="fill-star"></div>
                    </div>
                </div>

                <div class="rating">{{ artist.rating }}/5.0 ({{ artist.ratings|length }} Votes)</div>
                <span id="raitingVal" class="hidden">{{ artist.rating }}</span>
            </div>
        </div>
        <div class="controls">
            <div class="button-gradient follow">
                <button class="btn">Follow me</button>
            </div>

            <div class="button-gradient filled">
                <button class="btn">REQUEST FREE QUOTE</button>
            </div>
        </div>
    </section>

    <section class="menu">
        <div class="container">
            <ul>
                <li>
                    <div class="menu-item">
                        <a class="anchor-scroll" href="#biography">
                            <div class="hover-bg">Bio</div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="menu-item">
                        <a class="anchor-scroll" href="#feedbacks">
                            <div class="hover-bg">
                                Feedbacks
                            </div>
                        </a>
                    </div>
                </li>
                <li>
                    <div class="menu-item">
                        <a class="anchor-scroll" href="#media">
                            <div class="hover-bg">
                                Media
                            </div>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </section>